<h1>Listing product_detailes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_detailes.each do |product_detail| %>
      <tr>
        <td><%= link_to 'Show', product_detail %></td>
        <td><%= link_to 'Edit', edit_product_detail_path(product_detail) %></td>
        <td><%= link_to 'Destroy', product_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product detail', new_product_detail_path %>
