<%= simple_form_for(@adviser) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.input :assessor_code %>
    <%= f.input :email %>
 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
