<h1>Listing advisers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>assessor_code</th>
      <th>email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @advisers.each do |adviser| %>
      <tr>
        <td><%= adviser.name %></td>
        <td><%= adviser.phone %></td>
        <td><%= adviser.address %></td>
        <td><%= adviser.assessor_code %></td>
        <td><%= adviser.email %></td>
        <td><%= link_to 'Show', adviser %></td>
        <td><%= link_to 'Edit', edit_adviser_path(adviser) %></td>
        <td><%= link_to 'Destroy', adviser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adviser', new_adviser_path %>
