<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adviser.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @adviser.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @adviser.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @adviser.assessor_code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @adviser.email %>
</p>

<%= link_to 'Edit', edit_adviser_path(@adviser) %> |
<%= link_to 'Back', advisers_path %>
