= simple_form_for :search, {url: search_quotes_path, method: :get} do |f|
  .span12
    .row-fluid
      %div.span5
        = f.select :client, @clients.map{ |c| [c.name, c.id] }, label: false, prompt: "Cliente"
      %div.span5
        = f.select :adviser, @advisers.map{ |r| [r.name, r.id] }, :label => false, prompt: "Asesor"
      %div.span5
        = f.select :agency, @agencies.map{ |a| [a.name, a.id] }, :label => false, prompt: "Agencia"
    .row-fluid
      %div.span5
        = f.select :number, @quotes_list.map{ |q| [q.number, q.number] }, :label => false, prompt: "Número de la Cotización"      
      %div.span5.left-search-field   
        = f.input :reference, input_html: {class: 'width-search-field-quote', placeholder: "Referencia"}, label:false
    %div.row-fluid
      .span12.botton-filter
        = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
          - content_tag(:i, '') + "Buscar"
        = link_to(quotes_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
          - content_tag(:i, '') + "Cancelar"  