%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Costos"
      .widget-body                           
        %div.widget-body
          %h3="Costos de Cotizaciones"
          %hr
          %div.tab-content
            %div.list
              %div.well.dataTables_wrapper
                %table.table.table-striped#tabla
                  %thead
                    %tr
                      %th="Producto"  
                      %th="Descripcion"  
                      %th="Cantidad"                   
                      %th="Valor Unitario"  
                      %th="Valor Total"
                  %tbody                    
                    - @quote.quote_details.each_with_index do |quote_details, i|
                      %tr{:id => i}
                        %td
                          = quote_details.specificationes
                        %td
                          = f.input :description, input_html: {id:"quote_quote_details_attributes_#{i}_description", name:"quote[quote_details_attributes][#{i}][description]", value:"#{quote_details.description}", type: 'hidden'}, label:false 
                          = f.input :id, input_html: {id:"quote_quote_details_attributes_#{i}_id", name:"quote[quote_details_attributes][#{i}][id]", value:"#{quote_details.id}", type: 'hidden'}, label:false
                          = quote_details.description
                        %td
                          = quote_details.quantity                          
                          = f.input :quantity, required: true, input_html: {id:"quote_quote_details_attributes_#{i}_quantity", name:"quote[quote_details_attributes][#{i}][quantity]", value: "#{quote_details.quantity}" , type: 'hidden',  class:i}, label:false
                        %td                          
                          = f.input :price, required: true, as: :numeric, input_html: {id:"quote_quote_details_attributes_#{i}_price", name:"quote[quote_details_attributes][#{i}][price]", class: "price", value: number_to_currency(quote_details.price.to_i, unit: "", separator: "", delimiter: "", precision: 0) }, label:false
                          
                        %td{:id => "total#{i}"}                          
                          = number_to_currency((quote_details.quantity * quote_details.price).to_i) if quote_details.quantity && quote_details.price
                          
                  %thead  
                    %th=""  
                    %th=""  
                    %th="" 
                    %th="Total"      
                    %th.total_general
                      = number_to_currency @quote.quote_details.inject(0){|sum,x| sum + ((x.price || 0) * x.quantity) }

  .clearfix

