%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Anexos y Fotos"
      .widget-body
        - if current_user.is?(:costo) || current_user.is?(:analista) || current_user.is?(:almacen)
          %div
            .form-group.quotes_anexes
              = f.label "Hoja de Cálculo:"
              = f.file_field :spreadsheet, :class=>'file', 'data-preview-file-type' => "any"
        %div
          .form-group.quotes_anexes
            = f.simple_fields_for :quotes_anexes do |quotes_anexes|
              = render 'quote_anexes_fields', f: quotes_anexes
            = link_to_add_association 'Agregar Nuevo Archivo', f, :quotes_anexes
  .clearfix
 