%div.span12
  .innerLR
    .widget
      .widget-head
        %ul.tabs
          - if current_user.is?(:seguimiento) || current_user.is?(:costo) || current_user.is?(:vendedor) || current_user.is?(:analista)
            %li.icon.new_collection_link 
              = link_to(new_comment_path(quote_id: f.object)){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
      .widget-body                    
        %div.widget-body
          %h3="Bitácora"
          %hr
          %div.tab-content
            %div.list
              %div.well.dataTables_wrapper
                %table.table.table-condensed.table-striped
                  %thead
                    %tr
                      %th="Descripcion"
                      %th="Usuario"
                      %th="Fecha"  
                     
                  %tbody
                    - @comments.each do |comment_details| 
                      %tr                       
                        %td=comment_details.comment                       
                        %td=comment_details.nombre                      
                        %td=comment_details.created_at 
  .clearfix

