%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Detalle"
      .widget-body  
        -if  current_user.is?(:vendedor)             
          = render 'form_quote_detail', :f => f 
        %div.widget-body
          %h3="Descripción"
          %hr
          %div.tab-content
            %div.list
              %div.well.control-group.dataTables_wrapper
                %table.table.table-quote-details.table-condensed.table-striped#tabla
                  %thead
                    %tr
                      %th="Producto"  
                      %th="Observación" 
                      %th="Cantidad" 
                      %th=""                  
                  %tbody
                    - if @detalle
                      - @detalle.each_with_index do |quote_details, i|
                        %tr
                          %td                          
                            = f.input :product_id, input_html: {id:"quote_quote_details_attributes_#{i}_product_id", name:"quote[quote_details_attributes][#{i}][product_id]", value:"#{quote_details.product_id}", type: 'hidden'}, label:false 
                            = f.input :id, input_html: {id:"quote_quote_details_attributes_#{i}_id", name:"quote[quote_details_attributes][#{i}][id]", value:"#{quote_details.id}", type: 'hidden'}, label:false
                            = quote_details.specificationes
                          %td                          
                            = f.input :description, input_html: {id:"quote_quote_details_attributes_#{i}_description", name:"quote[quote_details_attributes][#{i}][description]", value:"#{quote_details.description}", type: 'hidden'}, label:false                           
                            = quote_details.description                                                  
                            = f.input :specificationes, input_html: {id:"quote_quote_details_attributes_#{i}_specificationes", name:"quote[quote_details_attributes][#{i}][specificationes]", value:"#{quote_details.specificationes}", type: 'hidden'}, label:false                           

                          %td 
                            = f.input :quantity, input_html: {id:"quote_quote_details_attributes_#{i}_quantity", name:"quote[quote_details_attributes][#{i}][quantity]", value:"#{quote_details.quantity}", type: 'hidden'}, label:false                           
                            = quote_details.quantity
                          -if (@quote.elaborated? or  @quote.customer_review?) && quote_details.specificationes.present?     
                            %td= link_to ("x"){ content_tag(:i, '', class:"icon-remove") }
                .controls
                  = f.error(:quote_details)
                            
  .clearfix

