%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Detalle"
      .widget-body               
        = render 'form_quote_detail', :f => f 
        %div.widget-body
          %h3="Descripción"
          %hr
          %div.tab-content
            %div.list
              %div.well.dataTables_wrapper
                %table.table-quote-details.table.table-condensed.table-striped#tabla
                  %thead
                    %tr
                      %th="Producto"  
                      %th="Observación" 
                      %th="Cantidad"                   
                      %th=""
                  %tbody
                    %tr
                      %td=''   
                      %td=''                                      
                      %td=''   
  .clearfix
