%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Anexos Cotizacion"
      .widget-body                           
        %div.widget-body
          %h3="Anexos y Fotos"
          -if @quote.elaborated? or  @quote.customer_review?
            = button_tag(class: 'btn btn-icon glyphicons circle_plus btn-success add-client btn-lg', 'data-toggle' => 'modal', 'data-target' => '#myModal', 'id' => "modal-botton"){content_tag('i') + "Nuevo"}  
          %hr
          %div.tab-content
            %div.list
              %div.well  
                %table.table.table-condensed.table-striped#tabla
                  %thead
                    %tr
                      %th="Imagen"
                      %th="Nombre"  
                      %th="Tipo"                   
                      %th=""                   
                  %tbody 
                    - @quote.quotes_anexes.each_with_index do |quote_anexes, i|          
                      %tr
                        -if (quote_anexes.anexo_content_type)
                          %td
                            =image_tag quote_anexes.anexo.url, size: "52" 
                            =f.input :id, input_html: {id:"quote_edit_anexes_attributes_#{i}_id", name:"quote[edit_anexes_attributes][#{i}][id]", value:"#{quote_anexes.id}", type: 'hidden'}, label:false
                          %td=quote_anexes.anexo_file_name
                          %td=quote_anexes.anexo_content_type
                          %td=link_to "Descargar", quote_anexes.anexo.url 
                          -if @quote.elaborated? or  @quote.customer_review?
                            %td= link_to ("x"){ content_tag(:i, '', class:"icon-remove") }


  .clearfix

