%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Anexos y Fotos"
      .widget-body               
        %div
          .form-group
            = f.simple_fields_for :quotes_anexes do |quotes_anexes|
              = quotes_anexes.file_field :anexo, :class=>'file', :id=>'file-es',  :multiple => true, 'data-preview-file-type' => "any"
  .clearfix
