%div.span12
  %div.row-fluid
    .span6  
      = f.input :id, as: :hidden, input_html: {maxlength: 255, class: 'span10 numero', readonly: true}, label: "Número"
      = f.input :number, required: true, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Número"       
    .span6
      = f.input :quote_status , input_html: { class: 'span10', readonly: true }, label: "Estatus"          
  %div.row-fluid 
    .span6      
      = f.input :create_at,   input_html: { readonly: true, class: 'span10', value: "#{Time.zone.now.strftime '%d/%m/%Y %I:%M %p'}"}, label: "Fecha"
    .span6
             
  %hr
  %div.row-fluid    
    .span6
      = f.input :adviser, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.adviser.present? ? f.object.adviser.try(:name): ""}, label: "Asesor"      
    .span6
      = f.input :assessor_code,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.adviser.present? ? f.object.adviser.try(:assessor_code) : ""  }, label: "Código de Asesor"
  %hr 
  %div.row-fluid    
    .span6      
      -if  current_user.is?(:vendedor) 
        = f.association :client, collection: @clients.map{ |c| [c.name, c.id] }, input_html: { id: "client_id",class: 'span10 field-select' }, label: "Cliente/Agencia"
      -if  !current_user.is?(:vendedor) 
        = f.input :client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:name): ""}, label: "Cliente/Agencia"         
    .span6
      = f.input :client_nit,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:nit) : "" }, label: "RUT/NIT"      
  %hr
  %div.row-fluid 
    .span6 
      -if  current_user.is?(:vendedor) 
        = f.label  :"Comisión  .", :title, "Comision  .", :class => "space-label-rigth"
        = f.input :commission_quote, collection: ([["Seleccione",""],["10%", "10"], ["15%", "15"], ["20%", "20"], ["No Aplica", "0"]]), selected: f.object.try(:commission_quote).to_i.to_s, label: false
      -if  !current_user.is?(:vendedor)
        = f.input :commission_quote, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.try(:commission_quote)==0? 'No Aplica' : "#{f.object.try(:commission_quote)}" }, label: "Comision"      
    .span6
      = f.input :client_address, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:address): "" }, label: "Dirección"      
  %div.row-fluid 
    .span6
      = f.input :client_email, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:email): "" }, label: "Email"
    .span6
      = f.input :client_contact, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:contact): "" }, label: "Contacto"
  %div.row-fluid 
    .span6
      = f.input :client_office, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:office): "" }, label: "Cargo"
    .span6
      = f.input :client_phone, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:phone): "" }, label: "Teléfono"
  %hr      
  %div.row-fluid      
    .span12
      -if  current_user.is?(:vendedor) 
        = f.input :reference, required: true, input_html: {maxlength: 255, class: 'width-order-large'}, label: "Referencia"
      -if  !current_user.is?(:vendedor)   
        = f.input :reference, required: true, input_html: {maxlength: 255, class: 'width-order-large',  readonly: true}, label: "Referencia"
  %hr  
  %div.row-fluid
    .span6  
      -if  current_user.is?(:vendedor) 
        = f.label  :"Forma de Pago  .", :title, "Forma de Pago  .", :class => "space-label-rigth"
        = f.input :method_payment, collection: ([["Anticipado 100%", "Anticipado 100%"], ["Anticipado 50%", "Anticipado 50%"], ["Anticipado 25%", "Anticipado 25%"], ["Pago A 30 dias", "Pago A 30 dias"], ["Pago A 45 dias", "Pago A 45 dias"], ["Pago A 60 dias", "Pago A 60 dias"]]), selected: f.object.try(:method_payment), label: false
      -if  !current_user.is?(:vendedor)   
        = f.input :method_payment, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.method_payment.present? ? f.object.try(:method_payment): ""}, label: "Forma de Pago."          
    -if  current_user.is?(:costo)
      .span6
        = f.input :cost_observations, required: false, input_html: {maxlength: 255, class: 'width-order-large'}, label: "Observaciones Costo"      

  %hr 
  -if  current_user.is?(:costo) 
    %div.row-fluid
      .span6
        = f.label :"Dificultad  .", :title, "Tipos de Dificultad", :class => "space-label-rigth"
        = f.association :difficulty_quote, required: true, collection: @difficulties.map{ |c| [c.difficulty, c.id] }, input_html: { id: "difficulty_quote_id",class: 'span10 field-select' }, label: false
      .span6  
        = f.label  :"Analista de Costo", :title, "Enviar a", :class => "space-label-rigth"
        = f.association :coordinator, required: true, collection: @administradores.map{ |c| [c.nombre, c.id] }, input_html: { id: "coordinator_id",class: 'span10 field-select' }, label: false
