%div.row-fluid#detail
  .span5
    = f.input :category, collection: Category.all, label_method: :name, value_method: :id, :label => 'Categoria', prompt: "Seleccione", input_html: { class: 'width-order-large-nested', :id => 'category_id' }
  .span4
    %div.control-group.select.optional
      = f.label  :"Producto", :class => "select optional control-label"        
      %div.controls
        = f.select :search_product, options_for_select([["Seleccione el Producto",""]]), input_html: {class: 'span10 width-select' }, label: "Producto"                 
%div.row-fluid  
  .span12                              
    = f.label  :"Tipo", :class => "select optional control-label"        
    %div.controls
      = f.select :type, options_for_select([["Seleccione el Tipo",""]]), input_html: {class: 'width-select' }, label: "Tipo"                                 
%div.row-fluid  
  .span12                              
    = f.label  :"Campos Para Diligencia", :class => "select optional control-label"        
    %div.controls
      = f.select :type_descriptions, options_for_select([]), {prompt: "Debes Seleccionar un Tipo"}, {:multiple => true, class: "width-select-multiple", size: 10}
%div#detalle-producto
%div.row-fluid  
  .span12              
    = f.input :search_description, as: :text, required: true, input_html: {  id: 'description', class: 'width-description-large-nested description', :row => 4 }, label: "Descripción"              
    %div#detail-product  
%div.row-fluid                      
  .span6
    = f.input :search_quantity, required: true, input_html: { maxlength: 255, class: 'span10 cantidad'}, label: "Cantidad"  
  .links
    = button_tag(class: 'btn btn-icon glyphicons circle_plus btn-success add-item'){content_tag('i') + "Agregar"}             