%div.span12
  %div.row-fluid
    .span6
      = f.input :id, as: :hidden, input_html: {maxlength: 255, class: 'span10 numero', readonly: true}, label: "Número"
      = f.input :number, required: true, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Número"       
    .span6
      = f.input :quote_status , input_html: { class: 'span10', readonly: true }, label: "Estatus" 
  %div.row-fluid 
    .span6      
      = f.input :create_at,   input_html: { readonly: true, class: 'span10', value: "#{Time.zone.now.strftime '%d/%m/%Y %I:%M %p'}"}, label: "Fecha"
    .span6      
  %hr
  %div.row-fluid    
    .span6
      = f.input :adviser, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.adviser.present? ? f.object.adviser.try(:name): ""}, label: "Asesor"      
    .span6
      = f.input :assessor_code,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.adviser.present? ? f.object.adviser.try(:assessor_code) : ""  }, label: "Código de Asesor"
  %hr       
  %div.row-fluid    
    .span6
      = f.input :client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:name): ""}, label: "Cliente/Agencia"         
    .span6
      = f.input :client_nit,  input_html: {maxlength: 255, class: 'span10', readonly: true,  value: f.object.client.present? ? f.object.client.try(:nit): ""}, label: "RUT/NIT"      
  %hr
  %div.row-fluid 
    .span6  
      = f.input :commission_quote, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.try(:commission_quote)==0? 'No Aplica' : "#{f.object.try(:commission_quote)}" }, label: "Comision"      
    .span6
      = f.input :client_address, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:address): "" }, label: "Dirección"        
  %div.row-fluid 
    .span6
      = f.input :client_email, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:email): "" }, label: "Email"
    .span6
      = f.input :client_contact, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:contact): "" }, label: "Contacto"
  %div.row-fluid 
    .span6
      = f.input :client_office, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:office): "" }, label: "Cargo"
    .span6
      = f.input :client_phone, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:phone): "" }, label: "Teléfono"
  %hr      
  %div.row-fluid      
    .span12
      = f.input :reference, required: true, input_html: {maxlength: 255, class: 'width-order-large', readonly: true}, label: "Referencia"
  %hr
  %div.row-fluid
    .span6
      = f.input :method_payment, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.method_payment.present? ? f.object.try(:method_payment): ""}, label: "Forma de Pago."          
  %hr       
  %div.row-fluid      
    .span12
      = f.input :cost_observations, required: true, input_html: {maxlength: 255, class: 'width-order-large'}, label: "Observaciones Costo"      
  %hr 
   