%div.span12
  %div.row-fluid         
    .span6
      = f.input :numero, input_html: { class: 'span10', readonly: true, value: '######' }, label: "Numero"    
    .span6
      = f.input :status, input_html: { class: 'span10', readonly: true, value: 'En Proceso' }, label: "Estatus"    
  %div.row-fluid 
    .span6      
      = f.input :fecha,   input_html: { readonly: true, class: 'span10', value: "#{Time.zone.now.strftime '%d/%m/%Y'}"}, label: "Fecha"
    .span6
      = f.input :hora,  input_html: { readonly: true, class: 'span10',  value: "#{Time.zone.now.strftime '%I:%M %p'}" }, label: "Hora"
  %hr
  %div.row-fluid    
    .span6
      - if current_user.is?(:vendedor) 
        = f.input :adviser_id, input_html: {id: "adviser_id", value: current_user.adviser.present? ? "#{current_user.adviser.id}"  : "" , type: 'hidden'}, label:false         
        = f.input :adviser_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: current_user.adviser.present? ? current_user.adviser.name : ""}, label: "Asesor" 
      - if current_user.is?(:admin)
        = f.association :adviser, required: true, collection: @advisers.map{ |c| [c.name, c.id] }, input_html: { id: "adviser_id",class: 'span10 field-select' }, label: "Asesor"
    .span6 
      - if current_user.is?(:vendedor) && current_user.adviser
        = f.input :assessor_code,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: current_user.adviser.assessor_code }, label: "Código de Asesor"
      - else
        = f.input :assessor_code,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.adviser.present? ? (f.object.adviser.try(:assessor_code)==1 ? "Directo": "Por Agencia"): ""  }, label: "Código de Asesor"
  %hr 
  %div.row-fluid    
    .span6
      = f.association :client, collection: @clients.map{ |c| [c.name, c.id] }, input_html: { id: "client_id",class: 'span10 cliente' }, label: "Cliente/Agencia"
    .span4
      = f.input :client_nit,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:nit) : "" }, label: "RUT/NIT"          
    .span2.links      
      = button_tag(class: 'btn btn-icon glyphicons circle_plus btn-success add-client btn-lg', 'data-toggle' => 'modal', 'data-target' => '#myModal', 'id' => "modal-botton"){content_tag('i') + "Nuevo"}  
  %hr
  %div.row-fluid     
    .span6
      = f.label  "Comisión"
      = f.input :commission_quote, collection: [["Seleccione",""],["10%", "10"], ["15%", "15"], ["20%", "20"], ["No Aplica", "0"]], selected: f.object.try(:commission_quote).to_s, label: false
    .span6
      = f.input :client_address, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:address): "" }, label: "Dirección"      
  %div.row-fluid 
    .span6
      = f.input :client_contact, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:contact): "" }, label: "Contacto"  
    .span6
      = f.input :client_office, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:office): "" }, label: "Cargo"  
  %div.row-fluid 
    .span6
      = f.input :client_email, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:email): "" }, label: "Email"
    .span6
      = f.input :client_phone, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:phone): "" }, label: "Teléfono"   
  %hr
  %div.row-fluid      
    .span12
      = f.input :reference, required: true, input_html: {maxlength: 255, class: 'width-order-large'}, label: "Referencia"
  %hr  
  %div.row-fluid
    .span6  
      = f.label  :"Forma de Pago  .", :title, "Forma de Pago  .", :class => "space-label-rigth"
      = f.input :method_payment, collection: [["Anticipado 100%", "Anticipado 100%"], ["Anticipado 50%", "Anticipado 50%"], ["Anticipado 25%", "Anticipado 25%"], ["Pago A 30 dias", "Pago A 30 dias"], ["Pago A 45 dias", "Pago A 45 dias"], ["Pago A 60 dias", "Pago A 60 dias"]], selected: f.object.try(:method_payment), label: false
  %hr 
