%table.table.table-condensed.table-striped#tablequotes
  %thead
    %tr
      %th="Cot"        
      %th="Asesor"
      %th="Cliente/Agencia"
      %th="Enviado a Costos"     
      %th="Inicio Costos"     
      %th="Días Restantes"     
      %th="Estado Cotización"               
      %th="Acciones"
      %th=""
  %tbody
    - @quotes.each do |p|
      %tr
        %td= p.number        
        %td= p.adviser.name if p.adviser
        %td= p.try(:client).try(:name)
        %td= l p.sent_to_cost if p.sent_to_cost
        %td= l p.begin_analysis if p.begin_analysis
        %td= p.days_to_end
        %td
          %span.label.label-success= p.quote_status  
        %td
          -if current_user.is?(:costo) && (p.difficulty_quote.nil? || p.coordinator.nil?)
            = link_to(edit_quote_path(p), title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
          -if p.difficulty_quote_id  &&  (p.sent_to_cost?  || p.quote_prices?)
            = link_to(quote_costs_registration_path(p), title: 'Agregar Costos a la Cotizacion'){ content_tag(:i, '', class:"icon-briefcase") }                           
          = link_to(image_tag("pdf-icon.png"), quote_path(p, format: :pdf), target: "_blank") 
          -if current_user.is?(:costo) || current_user.is?(:seguimiento) 
            / = link_to(comments_path(p), title: 'Listar Seguimientos'){ content_tag(:i, '', class:"icon-comments") }
            = link_to(new_comment_path(p), title: 'Nuevo seguimiento'){ content_tag(:i, '', class:"icon-comment") }
        / %td= p.cost_observations   
        %td
          -if p.quote_prices?
            = link_to(sent_seller_quote_path(p), method: :put, data: {confirm: '¿Desea enviar la cotizacion al Vendedor?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
              - content_tag(:i, '') + "Enviar al Vendedor"  
    .clearfix.total-count= pluralize(@quotes.size, 'orden')