%table.table.table-condensed.table-striped#tablequotes
  %thead
    %tr
      %th="Cot"
      %th="Asesor"
      %th="Cliente/Agencia"
      %th="Enviado a Costos"     
      %th="Inicio Costos"     
      %th="Fin de Costos"
      %th="Estado Cotización"
      %th="Acciones"
      / %th=""
  %tbody
    - @quotes.each do |p|                    
      %tr
        %td= p.number        
        %td= p.try(:client).try(:name)
        %td= p.adviser.name if p.adviser
        %td= l p.sent_to_cost if p.sent_to_cost
        %td= l p.begin_analysis if p.begin_analysis
        %td= p.expected_end
        %td
          %span.label.label-success= p.quote_status
        %td
          -if  current_user.is?(:vendedor) && (p.elaborated? || p.back_to_sales?)
            = link_to(edit_quote_path(p), title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }  
          -if current_user.is?(:costo)  && p.sent_to_cost?  && (p.difficulty_quote.nil? || p.coordinator.nil?)
            = link_to(edit_quote_path(p), title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }                    
          -if  current_user.is?(:seguimiento) && (p.delivered_customer?)
            = link_to(edit_quote_path(p), title: 'Aprobar o Rechazar'){ content_tag(:i, '', class:"icon-pencil") }                                      
          -if current_user.is?(:vendedor) && p.approved?             
            - if p.production_orders.any?
              = link_to(edit_production_order_path(p.production_orders.first.try(:id)), title: 'Editar Orden de Producción'){ content_tag(:i, '', class:"icon-edit") }
            - else
              = link_to(new_production_order_path(:quote_id => p), title: 'Agregar Orden de Producción'){ content_tag(:i, '', class:"icon-plus") }
          -if current_user.is?(:vendedor) &&  p.elaborated?
            / = link_to(quote_path(p), method: :delete, title: 'Eliminar', confirm: '¿Desea eliminar la Cotización?'){ content_tag(:i, '', class:"icon-remove-sign") }
          = link_to(image_tag("pdf-icon.png"), quote_path(p, format: :pdf), target: "_blank")
        / %td= p.cost_observations  
        / %td
        /   = render 'status_changes', :p => p
        