- if @quotes.any?
  %table.table.table-condensed.table-striped#tablequotes
    %thead
      %tr
        %th="Cot"  
        %th="Asesor"  
        %th="Cliente/Agencia"
        %th="Enviado a Costos"
        %th="Inicio Costos"
        %th="Dias entrega"
        %th="Fin de Costos"
        %th="Fin real Costos"
        %th="Estado" 
        %th="Observaciones de Costo"      
        %th="Estatus"        
        %th=""
        %th=""
    %tbody
      - @quotes.each do |p|
        - sent_to_cost=' '
        - quote_prices=' '
        - sent_seller=' '  
        - dias = 0
        - quantity_difficulty = p.try(:difficulty_quote).try(:quantity)
        - p.estado.each do |x|
          -x.status=='sent_to_cost'? sent_to_cost = x.created_at : ' '
          -x.status=='quote_prices'? quote_prices = x.created_at : ' '
          -x.status=='sent_seller'? sent_seller = x.created_at : ' '
        - quote_prices.to_s==' ' && sent_seller.to_s==' '? 
        - dias =  0 : sent_seller.to_s==' '? 
        - dias = ((Time.zone.now - quote_prices)  /86400 ).to_i  : dias = dias = ((sent_seller - quote_prices)  /86400 ).to_i 
        - quantity_difficulty.to_i >= dias.to_i ? estado = 'Se Cumplio' : estado = 'Se Incumplio' 
        - p.try(:difficulty_quote).try(:quantity)?  
        - quantity_difficulty.to_i >= dias.to_i ? estado = 'Se Cumplio' : estado = 'Se Incumplio'  :   estado = ' ' 
                    
        %tr
          %td= p.number
          %td= p.estado_cost
          %td= p.try(:adviser).try(:name)
          %td= p.try(:client).try(:name)
          %td= sent_to_cost
          %td= quote_prices 
          %td
            %span.label.label-info= dias.to_i
          %td= p.try(:difficulty_quote).try(:difficulty_lapse)
          %td= sent_seller
          %td
            -if estado == 'Se Cumplio'
              %span.label.label-success= estado
            -if estado == 'Se Incumplio'
              %span.label.label-danger= estado 
            -if estado == ' '      
              = estado         
          %td= p.cost_observations    
          %td
            %span.label.label-success= p.quote_status
          %td
            = render 'status_changes', :p => p
          %td
            -if  current_user.is?(:vendedor) && p.elaborated? || p.back_to_sales?
              = link_to(edit_quote_path(p), title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }                            
            -if current_user.is?(:vendedor) && p.approved?             
              - if p.production_orders.any?
                = link_to(edit_production_order_path(p.production_orders.first.try(:id)), title: 'Editar Orden de Producción'){ content_tag(:i, '', class:"icon-pencil") }
              - else
                = link_to(new_production_order_path(:quote_id => p), title: 'Agregar Orden de Producción'){ content_tag(:i, '', class:"icon-plus") }
            -if current_user.is?(:vendedor) &&  p.elaborated?
              / = link_to(quote_path(p), method: :delete, title: 'Eliminar', confirm: '¿Desea eliminar la Cotizacion?'){ content_tag(:i, '', class:"icon-remove") }
            = link_to(quote_path(p), title: 'Ver'){ content_tag(:i, '', class:"icon-eye-open") } 
            = link_to(image_tag("pdf-icon.png"), quotes_path(p, format: :pdf))
          

