<div class="modal fade modal-position" id="myModal" tabindex="-1000" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Agregar Anexos</h3>
      </div>
      <div class="modal-body"> 

      <%- (@quote.quotes_anexes.count == 0) ? limite=false : limite=true  %>  
      <%-   (limite)? @anexes = @quote.quotes_anexes.limit(1) :  @anexes = @quote.quotes_anexes  %>  
      <%= f.simple_fields_for :quotes_anexes, @anexes do |quotes_anexes| %> 
        <%= quotes_anexes.file_field :anexo, :class=>'file', :id=>'file-es',  :multiple => true, 'data-preview-file-type' => "any"  %>                      
      <% end %>                        
      </div>
      <div class="modal-footer">
        <button aria-hidden="true" class="btn" data-dismiss="modal">Salir de Anexos</button>
      </div>
  </div>
</div>
