-if current_user.is?(:vendedor)
  -if p.elaborated?  or p.back_to_sales? 
    = link_to(sent_to_cost_quote_path(p), data: {confirm: '¿Desea enviarla a Costos?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Enviar a Costos"
  -if p.elaborated? || p.customer_review? || p.sent_to_cost?
    = link_to(canceled_quote_path(p), data: {confirm: '¿Desea Anular Cotización?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Anular Cotización"                         
  -if p.rejected? && current_user.is?(:costo)
    = link_to(cost_report_quote_path(p), data: {confirm: '¿Desea enviar a Informe de Costos?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Enviar a Informe de Costos" 
-if current_user.is?(:vendedor)
  -if p.sent_seller?
    = link_to(delivered_customer_quote_path(p), data: {confirm: '¿Desea entregarla al Cliente?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Entregar al Cliente"
-if current_user.is?(:costo) || current_user.is?(:seguimiento)
  -if p.quote_prices?
    = link_to(delivered_customer_quote_path(p), data: {confirm: '¿Desea entregarla a Ventas?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Entregar al Vendedor"
  -if p.delivered_customer?  
    = link_to(approved_quote_path(p), data: {confirm: '¿Desea Aprobar Esta Cotización?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Aprobada"
  -if p.delivered_customer? 
    = link_to(rejected_quote_path(p), data: {confirm: '¿Desea Rechazar Esta Cotización?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "No Aprobada"   
