%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(list_cost_quotes_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        
    %div.widget-body
      %h3="Registrar Costos de la Cotización"
      %hr
      %div.tab-content

        = simple_form_for(@quote, :url => "/quotes/#{@quote.id}/costs", :method => :put)  do |f|
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span12
              %div.row-fluid
                = render 'form_fields_costs', :f => f                     
                = render 'form_fields_detail_costs', :f => f
                = render 'form_fields_anexos_edit', :f => f 

          %br
          -if current_user.is?(:costo) ||  current_user.is?(:analista)
            -if can? :update, @quote
              -if @quote.sent_to_cost?
                -if @quote.coordinator_id == current_user.id || current_user.is?(:costo)
                  = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
                    - content_tag(:i, '') + "Asignar Precios"   
                  = link_to(back_to_sales_quote_path(@quote), data: {confirm: '¿Desea Devolverla a Venta?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
                    - content_tag(:i, '') + "Devolver a Venta"                       
            
            -if @quote.quote_prices?
              = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok' , data: {confirm: '¿Desea enviar la cotizacion a Seguimiento?'}) do
                - content_tag(:i, '') + "Enviar al Vendedor"                 


          = link_to(list_cost_quotes_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Ir a Lista"
          

   
:javascript
  $(document).on('ready page:load', function () {
    
    $("#adviser_id").prop("disabled",true);
    $("#client_id").prop("disabled",true);    
    $("#agency_id").prop("disabled",true);
    $("#quote_commission_quote").prop("disabled",true);
    $("#quote_method_payment").prop("disabled",true);
    $("#quote_form_delivery").prop("disabled",true);  

  /*fin del document*/      
  });


