%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(quotes_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        -if current_user.is?(:vendedor)
          %li.icon.new_collection_link.active
            = link_to(new_quote_path){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3="Editar Cotización"
      %hr
      %div.tab-content

        = simple_form_for(@quote) do |f|
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span12
              %div.row-fluid
                = render 'form_fields_edit', :f => f 
                - if current_user.is?(:seguimiento)
                  = render 'form_fields_detail_with_costs', :f => f 
                - else
                  = render 'form_fields_detail_edit', :f => f 
                -if current_user.is?(:costo) || current_user.is?(:seguimiento) || current_user.is?(:vendedor) || current_user.is?(:analista)
                  = render 'form_fields_detail_tracing', :f => f 
                = render 'form_fields_anexos_edit', :f => f 
                = render 'modal_anexos', :f => f 

            %br
            -if current_user.is?(:vendedor) or current_user.is?(:costo)
              -if @quote.elaborated? or @quote.back_to_sales? or @quote.customer_review? or @quote.sent_to_cost?
                = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok guardar-quote') do
                  - content_tag(:i, '') + "Guardar"
              -if @quote.approved?
                = link_to(new_production_order_path(:quote_id => @quote), data: {confirm: '¿Desea Agregar Orden de Produccion?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
                  - content_tag(:i, '') + "Agregar Orden de Produccion" 
            = render 'status_changes', :p => @quote
            = link_to(quotes_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
              - content_tag(:i, '') + "Ir a Lista"                   
  
  :javascript

    $('#file-es').fileinput({
        language: 'es',
        showUpload:false,
     // allowedFileExtensions : ['jpg', 'png','gif'],
     // elErrorContainer: '#errorBlock'

    });  
  
