%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(quotes_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        -if current_user.is?(:vendedor)  
          %li.icon.new_collection_link 
            = link_to(new_quote_path){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
           
            
    %div.widget-body
      %h3
        - if current_user.is?(:analista) || current_user.is?(:seguimiento) || current_user.is?(:vendedor)
          = t('layouts.shared.sidebar_administrador.list_quotes')
        -else
          = t('layouts.shared.sidebar_administrador.list_quotes_new')
      %hr
      %div.tab-content
        %div.list
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filter'
          = flash_messages
          - if current_user.is?(:vendedor)
            = render 'list_seller'
          - elsif current_user.is?(:seguimiento)
            = render 'list_seguimiento'
          - else
            = render 'list'
      .clearfix.total-count= pluralize(@quotes.size, 'orden')


    


