%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(quotes_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        
    %div.widget-body
      %h3
        = t('layouts.shared.sidebar_administrador.production_costs')
      %hr
      %div.tab-content
        %div.list
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filter'
          = flash_messages
          - if @quotes.any?
            %table.table.table-condensed.table-striped#tablequotes
              %thead
                %tr
                  %th="Cot"  
                  %th="Asesor"  
                  %th="Cliente/Agencia"
                  %th="Enviado a Costos"
                  %th="Inicio Costos"
                  %th="Dias entrega"
                  %th="Fin de Costos"
                  %th="Fin real Costos"
                  %th="Estado" 
                  %th="Observaciones de Costo"      
                  %th="Estatus"        
                  %th=""
                  %th=""
              %tbody
                - @quotes.each do |p|
                  %tr
                    %td= p.number 
                    %td= p.try(:adviser).try(:name)
                    %td= p.try(:client).try(:name)
                    %td= p.sent_to_cost
                    %td= p.quote_prices 
                    %td
                      %span.label.label-info= p.time_cost
                    %td= p.try(:difficulty_quote).try(:difficulty_lapse)
                    %td= p.sent_seller
                    %td
                      -if p.estado_cost == 'Se Cumplio'
                        %span.label.label-success= "A Tiempo"
                      -if p.estado_cost == 'Se Incumplio'
                        %span.label.label-danger= "Con Retrazo"
                      -if p.estado_cost == ' '      
                        = p.estado_cost         
                    %td= p.cost_observations     
                    %td
                      %span.label.label-success= p.quote_status
                    %td
                      -if p.quote_prices?
                        = link_to(sent_seller_quote_path(p), method: :put, data: {confirm: '¿Desea enviar la cotizacion a Seguimiento?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
                          - content_tag(:i, '') + "Enviar a Seguimiento"
                    %td
                      -if current_user.is?(:costo) && (p.difficulty_quote.nil? || p.coordinator.nil?)
                        = link_to(edit_quote_path(p), title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
                      -if p.difficulty_quote_id    
                        = link_to(quote_costs_registration_path(p), title: 'Agregar Costos a la Cotizacion'){ content_tag(:i, '', class:"icon-briefcase") }                           
                      = link_to(image_tag("pdf-icon.png"), quote_path(p, format: :pdf)) 
                      = link_to(comments_path(p), title: 'Listar Seguimientos'){ content_tag(:i, '', class:"icon-comment") }
                .clearfix.total-count= pluralize(@quotes.size, 'orden')