%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(quotes_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        -if current_user.is?(:vendedor)
          %li.icon.new_collection_link.active
            = link_to(new_quote_path){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3
        = t('layouts.shared.sidebar_administrador.create_quote')
      %hr
      %div.tab-content
        = simple_form_for(@quote,  url: quotes_path, enctype:"multipart/form-data") do |f|
          = f.error_notification 
          = flash_messages

          %div.row-fluid
            %div.span12
              %div.row-fluid
                = render 'form_fields', :f => f                     
                = render 'form_fields_detail_edit', :f => f
                = render 'form_fields_anexos', :f => f 
               
          %br
          -if current_user.is?(:vendedor)
            = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok guardar-quote') do
              - content_tag(:i, '') + "Guardar"
          = link_to(quotes_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"

= render :partial => 'clients/modal'                

:javascript

  $('.file').fileinput({
    language: 'es',
    showUpload:false,
  });  
  