<h3>Cotización</h3>
<div class="innerLR shop-client-products cart invoice">

  <table class="table table-invoice">
    <tbody>
      <tr>
        <td style="width: 58%;">
          <div class="media">          
            <%= wicked_pdf_image_tag 'logo_vallas.png', class: "media-object pull-left ", alt: "Logo", style: "width: 50%;" %>
            <div class="media-body hidden-print">
              <div class="alert alert-primary">
                <strong>Estatus de la Cotización:</strong><br/>
                 <%= @quote.quote_status %>
              </div>
              <div class="separator bottom"></div>
            </div>
          </div>
        </td>
        <td class="right">
          <div class="innerL">
            <h4>#  <%= @quote.id.to_s.rjust(6, '0') %> / <%= @quote.created_at.strftime("%d-%m-%Y") %></h4> 
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="separator bottom"></div>
  <div class="well margin-none">
    <table class="table table-invoice">
      <tbody>
        <tr>
          <td style="width: 40%;">
            <p class="lead">Información de Cliente/Agencia</p>
            <h2> <%= @quote.client.name %>.</h2>
            <address class="margin-none">
              <strong>Comision : <%= @quote.commission_quote %> %</strong><br/>
              <%= @quote.client.address %><br/>            
              <abbr title="Work email">e-mail:</abbr> <%= @quote.client.email %><br /> 
              <abbr title="Work Phone">Telefono:</abbr> <%= @quote.client.phone %><br/>            
            </address>
          </td>
          <td class="right" style="width: 30%;">
            <p class="lead">Informacion del Contacto</p>
            <h2><%= @quote.client.contact %></h2>
            <address class="margin-none">
              <strong>Cargo: </strong>  
              <strong><%= @quote.client.office %></strong><br> 
            
              <div class="separator line"></div>
              <p class="margin-none"><strong>Forma de Entrega:</strong><br/> <%= @quote.form_delivery %>.</p>
              <p class="margin-none"><strong>Forma de Pago:</strong><br/> <%= @quote.method_payment %>.</p>
              
            </address>
          </td>
          <td class="right" style="width: 30%;">
            <p class="lead">Vendedor</p>
            <h4><%= @quote.adviser.name %></h4>
            <address class="margin-none">
              <strong>Email: </strong>  
              <strong><%= @quote.adviser.email %></strong><br> 
              <strong>Teléfono: </strong>  
              <strong><%= @quote.adviser.phone %></strong><br> 
              
            </address>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-bordered table-primary table-striped table-vertical-center">
    <thead>
      <tr>
        <th style="width: 1%;" class="center">No.</th>
        <th >Producto</th>       
        <th style="width: 210px;">Observación</th>
        <th style="width: 80px;">Cantidad</th>
        <% if current_user.is?(:seguimiento) || current_user.is?(:costo) || current_user.is?(:vendedor) %>
          <th style="width: 80px;">Precio</th>
        <% end %>

      </tr>
    </thead>
    <tbody>
     <%- total = 0 %>
     <%- @detalle.each_with_index do |quote_details, i| %>
            <!-- Cart item -->
      <tr>
        <td class="center"><%= i + 1 %></td>
        <td>
          <h5> <%= quote_details.specificationes %></h5>
        
        </td>
        <td ><%= quote_details.description %></td>
        <td class="right strong"><%= quote_details.quantity %></td>
        <% if current_user.is?(:seguimiento) || current_user.is?(:costo) || current_user.is?(:vendedor) %>
          <td class="right strong"><%= number_to_currency quote_details.price %></td>
        <% end %>
      </tr>
      <!-- // Cart item END -->
            <!-- Cart item -->
       <% end %>
      <% if current_user.is?(:seguimiento) || current_user.is?(:costo) || current_user.is?(:vendedor) %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>
          <td class="right strong">
            <%= number_to_currency @detalle.inject(0){|sum,x| sum + ((x.price || 0) * x.quantity) } %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
  <div class="separator bottom"></div>
  <!-- Row -->
  <div class="row-fluid">
  
    <!-- Column -->
    <div class="span5">
      <div class="box-generic">
        <p class="margin-none"><strong>Rerefencia:</strong><br/><%= @quote.reference %>.</p>
      </div>
    </div>
    <!-- Column END -->
    
  </div>
  <div class="separator bottom"></div>
  <% if current_user.is?(:costo) || current_user.is?(:seguimiento) %>
  <!-- // Row END -->
    <h3 >Seguimiento de la Cotizaciones</h3> 
    <table class="table table-bordered table-primary table-striped table-vertical-center">        
    <thead>
      <tr>
        <th >Descripción</th>       
        <th style="width: 80px;">Fecha</th>
      </tr>
    </thead>
    <tbody>
    
     <%- @quote.comments.each do |comment_details| %>
            <!-- Cart item -->
      <tr>
        <td>
          <h5> <%= comment_details.comment %></h5>
        
        </td>
        <td class="right strong"><%= comment_details.created_at %></td>
       
      </tr>
      <!-- // Cart item END -->
            <!-- Cart item -->
       <% end %>
            
    </tbody>
  </table>
   <% end %>
</div>  
  
    
    </div>
    <!-- // Content END -->
