<%= simple_form_for(@detail_specification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :specification_id %>
    <%= f.input :detail_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
