<h1>Listing detailes_specificationes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @detailes_specificationes.each do |detail_specification| %>
      <tr>
        <td><%= link_to 'Show', detail_specification %></td>
        <td><%= link_to 'Edit', edit_detail_specification_path(detail_specification) %></td>
        <td><%= link_to 'Destroy', detail_specification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail specification', new_detail_specification_path %>
