<h1>Listing types_descriptions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @types_descriptions.each do |type_description| %>
      <tr>
        <td><%= link_to 'Show', type_description %></td>
        <td><%= link_to 'Edit', edit_type_description_path(type_description) %></td>
        <td><%= link_to 'Destroy', type_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type description', new_type_description_path %>
