%div.span12
  %div.row-fluid
    .span6
      = f.input :title, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true, value: 'Seguimiento de la Orden de Producción'}, label: "Título"
      = f.input :production_order_id, as: :hidden, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Título"
    .span6
      = f.input :created_at, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Fecha/Hora"
  %div.row-fluid
    .span6
      = f.input :num_production_order, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Núm. de la Orden de Producción"
    .span6
      = f.input :quote_id, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Núm. de la Cotización"
  %div.row-fluid
    .span6
      = f.input :agency_name, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Cliente/Agencia"
    .span6
      = f.input :adviser_name, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Asesor"
  %div.row-fluid
    .span6
      = f.input :reference, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Referencia"
    .span6
      = f.input :administrador_name, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Usuario"

  %div.row-fluid
    %div.span6
      %div.controls
        %a.btn.btn-info.btn-lg.active{target: "_blank", href: "#{production_order_path(@production_order, format: :pdf)}", title: "Ver Orden de Producción"}
          Ver a Orden de Producción
  %hr    
  %div.row-fluid  
    .span12  
      = f.input :description, required: true, as: :text, input_html: { class: 'span12 height-large', row:10, readonly: @production_order_binnacle.new_record? ? false : true}, label: "Comentario"
      = f.input :administrador_id, as: :hidden, input_html: { value: current_user.try(:id)}
  %hr
  = render 'production_order_binnacle_anexe', :f => f
 
