- if @production_order.production_order_binnacles.any?
  %table.table.table-condensed.table-striped#tableorders
    %thead
      %tr
        %th="# de Bitácora"  
        %th="# de Orden de Produccón" 
        %th="Usuario"
        %th="Seguimiento"
        %th="Fecha"
        %th="Hora"
        %th="Estatus de la Orden"
        %th=""
    %tbody
      - @production_order.production_order_binnacles.each do |c|
        %tr
          %td= c.try(:id).to_s.rjust(5,"0")
          %td= c.production_order.try(:number)
          %td= c.administrador.name
          %td= c.try(:description)
          %td= c.try(:updated_at).strftime("%m/%d/%Y")         
          %td= c.try(:updated_at).strftime("%I:%M%p")
          %td= c.production_order.order_status
          %td
            = link_to(edit_production_order_production_order_binnacle_path(@production_order, c), class: 'pjax', title: 'Ver Bitácora'){ content_tag(:i, '', class:"icon-eye-open") }
- else
  %span
    Sin Comentarios
  %br
  %br
  = link_to(new_production_order_production_order_binnacle_path(@production_order), class: 'btn btn-icon btn-primary glyphicons circle_ok') do
    - content_tag(:i, '') + "Agregar Nuevo"


          
