#production_order_binnacle_anexes
  = f.simple_fields_for :production_order_binnacle_anexes do |o|
    = render 'production_order_binnacle_anexe_fields', :f => o 
  .links
  - if f.object.new_record?
    = link_to_add_association(f, :production_order_binnacle_anexes,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Anexo' }
