.nested-fields.well  
  .row-fluid
    .span11
      - if f.object.anexo.present?
        .span12.margin-left-anexe
        =link_to f.object.anexo_file_name , f.object.anexo.url 
      -else
        .span12.margin-left-anexe
          = f.file_field :anexo, :class=>'file', :id=>'file-es', 'data-preview-file-type' => "any"
      %br
    .span1
      %br
      - if f.object.new_record?
        = link_to_remove_association "Eliminar", f



