%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(production_orders_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link.active
          = link_to(production_order_path(@production_order), class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Ir a la Orden') }
    %div.widget-body
      %h3="Crear Nueva Biácora. Orden No "+@production_order.try(:number)
      %hr
      %div.tab-content

        = simple_form_for @production_order_binnacle, {url: production_order_production_order_binnacles_path, method: :post} do |f|
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span11
              %div.row-fluid
                = render 'form_fields', :f => f 
          
                      
                              
          %br
          = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
            - content_tag(:i, '') + "Guardar"
          = link_to(production_order_path(@production_order) , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"

      

