%title= "Editar #{resource_name}"
%h3= "Editar #{resource_name}"

.innerLR
  .widget.widget-tabs
    .widget-head
      %h4.heading= "Datos del #{resource_name}"
      %ul.tabs
        / Tabs
    .widget-body
      .tab-content
        - url = resource_name == :administrador ? administrador_registration_path(resource_name) : registration_path(resource_name)
        
        = simple_form_for(resource, :as => resource_name, :url => url, :html => { :method => :put, :class => "form-horizontal" }) do |f|
          = f.error_notification
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            = info_message "Esperando por la confirmación del correo: <strong>#{resource.unconfirmed_email}</strong>".html_safe
          - if devise_mapping.confirmable?
            = info_message "Si cambias el <strong>Correo electrónico</strong>, se te enviará a la nueva dirección instrucciones para confirmarlo.".html_safe
          .separator.bottom
          .form-inputs
            .row-fluid.row-merge
              / Column
              .span6
                .innerR
                  -if devise_mapping.registerable?
                    = f.input :email, required: true, autofocus: true, input_html: {class: "span10"}
                  - else
                    = f.input :email, required: true, autofocus: true, readonly: true, input_html: {class: "span10"}
                  = f.input :nombre, required: true, input_html: {class: "span10"}
                  - if resource.respond_to?(:apellido)
                    = f.input :apellido, required: true, input_html: {class: "span10"}
              .span6
                .innerL
                  = f.input :password, autocomplete: "off", hint: "dejar en blanco si no se desea modificar", required: false, input_html: {class: "span10"}
                  = f.input :password_confirmation, required: false, input_html: {class: "span10"}
                  = f.input :current_password, hint: "escribe tu contraseña actual para aplicar los cambios", required: true, input_html: {class: "span10"}
          %hr.separator
          .form-actions
            = f.button :button, class: "btn btn-icon btn-primary glyphicons circle_ok" do 
              %i
              Actualizar

