.wrapper.signup
  %h1.glyphicons.lock 
    Registro de Usuarios
    %i
  .widget
    .widget-head
      %h3.heading Crear cuenta
      .pull-right
        - if devise_mapping.registerable?
          ¿Ya tienes cuenta?
          = link_to "Iniciar sesión", new_session_path(resource_name), class: "btn btn-inverse btn-mini"
    .widget-body
      = simple_vertical_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          .row-fluid.row-merge
            / Column
            .span6
              .innerR
                = f.input :email, required: true, autofocus: true, placeholder: "Ingrese su correo electrónico", input_html: { class: "input-block-level" }
                = f.input :nombre, required: true, placeholder: "Ingrese su primer nombre", input_html: { class: "input-block-level" }
                = f.input :apellido, required: true, placeholder: "Ingrese su primer apellido", input_html: { class: "input-block-level" }
                
            / Column
            .span6
              .innerL
                = f.input :password, required: true, input_html: { class: "input-block-level" }
                = f.input :password_confirmation, input_html: { class: "input-block-level" }
                = f.label :captcha, "Ingresa el siguiente código de verificación:"
                = captcha_tag
                .control-group{class: ("error" if f.object.errors[:captcha].any?)}
                  .controls
                    = text_field_tag :captcha, nil, class: "input-block-level", placeholder: "Código de verificación"
                    = f.error :captcha
                
                .separator.bottom
                = f.button :submit, "Registrarse", class: "btn btn-block btn-primary"
          
    .widget-footer
      .login-footer-links
        = link_to "¿No has recibido las instrucciones de confirmación?", new_confirmation_path(resource_name), class: "pull-right"
