%div.span12
  %div.widget-body
    %h3="Detalle del Listado"
    %hr
    %div.tab-content
      %div.list
        %div.well  
          %table.table.table-condensed.table-striped#tabla
            %thead
              %tr
                %th.span2="Cantidad"  
                %th="Material"                   
                %th.span2="Unidad"
                %th="Descripcion"
                %th="Observacion"
            %tbody
              %tr
                %td=''   
                %td=''                                      
                %td='' 