%div.span12
  %div.row-fluid
    .span6
      = f.label  :"Cliente", :title, "Cliente  .", :class => "space-label-rigth"
      = f.select :client, @clients.map{ |c| [c.name, c.id] }, :class =>  'span10 field-select' 
    .span6
      = f.input :client_nit,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:nit) : "" }, label: "NIT"      
  %hr.order_product 
  %div.row-fluid.order_product
    .span12
      = f.label  :"Orden de Produccion", :title, "Orden de Produccion  .", :class => "space-label-rigth"
      = f.select :production_order, {}, input_html: { class: 'span12 field-select' }     
  %hr   
  %div.row-fluid 
    .span4#detail-material              
      = f.input :search_material, required: true, input_html: { id: 'material', maxlength: 255, class: 'width-order-large material', type: 'textarea'}, label: "Material"          
    .span4
      = f.input :add_quantity, required: true, input_html: { id: 'quantity_material', maxlength: 255, class: 'span10 quantity_material'}, label: "Cantidad"  
    .span4
      = f.input :add_unit, required: true, input_html: { id: 'unit_material', maxlength: 255, class: 'span10'}, label: "Unidad"        
  %div.row-fluid 
    .span12   
      = f.input :add_description, required: true, input_html: { id: 'description', maxlength: 255, class: 'width-order-large', type: 'textarea'}, label: "Descripcion"             
  %div.row-fluid 
    .span8   
      = f.input :add_observation,  input_html: { id: 'observation', maxlength: 255, class: 'width-order-large ', type: 'textarea'}, label: "Observaciones"                   
    .span4.btn.btn-block.btn-primary.add-item-materiales
      Agregar 
  %hr         

