%div.span12
  %div.widget-body
    %h3="Detalle del Listado"
    %hr
    %div.tab-content
      %div.list
        %div.well  
          %table.table.table-condensed.table-striped#tabla
            %thead
              %tr
                %th.span2="Cantidad"  
                %th="Material"                   
                %th.span2="Unidad"
                %th="Descripcion"
                %th="Observacion"
            %tbody
            - @product_orders_material_list.each do |p| 
              %tr
                %td= p.quantity
                %td= p.materials_name
                %td= p.materials_unit
                %td= p.description
                %td= p.observation
             