%div.span12
  %div.row-fluid.order_product
    .span12      
      = f.input :number, required: true, input_html: { id: 'number', maxlength: 255, class: 'span10'}, label: "orden de produccion"               
      = f.input :id_order, required: true, input_html: { id: 'id_order', value: '#{@product_orders_material.id}'}
  %hr   
  %div.row-fluid 
    .span4#detail-material              
      = f.input :search_material, required: true, input_html: { id: 'material', maxlength: 255, class: 'width-order-large material', type: 'textarea'}, label: "Material"          
    .span4
      = f.input :add_quantity, required: true, input_html: { id: 'quantity_material', maxlength: 255, class: 'span10 quantity_material'}, label: "Cantidad"  
    .span4
      = f.input :add_unit, required: true, input_html: { id: 'unit_material', maxlength: 255, class: 'span10'}, label: "Unidad"        
  %div.row-fluid 
    .span12   
      = f.input :add_description, required: true, input_html: { id: 'description', maxlength: 255, class: 'width-order-large', type: 'textarea'}, label: "Descripcion"             
  %div.row-fluid 
    .span8   
      = f.input :add_observation,  input_html: { id: 'observation', maxlength: 255, class: 'width-order-large ', type: 'textarea'}, label: "Observaciones"                   
    .span4.btn.btn-block.btn-primary.add-item-materiales
      Agregar 
  %hr         

