- if @product_orders_materiales.any?
  %table.table.table-condensed.table-striped#tablequotes
    %thead
      %tr
        %th="Número de Orden de Produccion"  
        %th="Fecha"        
        %th="Fecha Real De Entrega"
    %tbody
      - @product_orders_materiales.each do |p|
        %tr      
          %td= p.number
          %td= p.date_elaboration
          %td= p.actual_delivey_date
          %td            
            = link_to(edit_product_orders_material_path(p), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }            
            = link_to(product_orders_material_path(p), method: :delete, class: 'pjax', title: 'Eliminar', data: {confirm: '¿Desea eliminar la Cotizacion?'}){ content_tag(:i, '', class:"icon-remove") }
 