%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(product_orders_materiales_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link.active
          = link_to(new_product_orders_material_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3="Editar Lista de Materiales"
      %hr
      %div.tab-content

        = simple_form_for(@product_orders_material, :url => "/product_orders_materiales/#{@product_orders_material.id}", :method => :put) do |f|
          = f.error_notification 
          = flash_messages

          %div.row-fluid
            %div.span11
              %div.row-fluid        
                = render 'form_fields_edit', :f => f                                
                = render 'form_fields_detail_edit', :f => f                                       
               
          %br
          = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok guardar-quote') do
            - content_tag(:i, '') + "Guardar"
          = link_to(agencies_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"

  
:javascript
  $("document").ready(function() {

  /*$(".order_product").toggle("slow");*/

    $(".field-select").select2({
      placeholder: "Seleccione",
      allowClear: true
    });   

   /*busca del cliente*/
    $('#product_orders_material_client').change(function(){ 
      if($(this).val()){
        $.get('/clients/'+$(this).val()+'.json',
          function(data) {             
          $("#product_orders_material_client_nit").val(data.nit);  
          });
        $.get('/production_orders/'+$(this).val()+'/list',
          function(data) {             
            /*$(".order_product").toggle("fast");*/
            $.each(data, function(key, element) {
              console.log(element.number);
              $('#product_orders_material_production_order').append("<option value='" + element.id + "'>"+ "N#" + element.number + " Fecha: " + element.date_elaboration +"</option>");
            });
          });          
      }
    });
    /*fin del cliente*/

    /*Autocompletar*/
    $(function() {   
      var cadena = '[';
      $.get('/materiales.json',
        function(data) { 
          $.each(data, function(key,element) { 
          var material_id = element.url.split('/');
              material_id = material_id[4].split('.json');                                   
            cadena = cadena + '{"label":"'+element.description+'","id":'+material_id[0]+'},';
          });
          cadena = cadena + '{}]';    
          parsedTest = JSON.parse(cadena); 
          $( "#material" ).autocomplete({
            source: parsedTest
        });       
      });
    });
    /*fin de autocompletar*/   

      /*Agregar Detalle*/
    $(".add-item-materiales").click(function () {
      var trs = ($('#tabla >tbody >tr').length)-1;
      var material = $("#material").val();
      var unit_material = $("#unit_material").val(); 
      var cantidad = $("#quantity_material").val();
      var description = $("#description").val(); 
      var observation = $("#observation").val(); 
      var product_order = $('#number').val();
      if(cantidad){
        if(material && description){          
          var input_material =  '<input type="text" id="product_orders_material_material_'+trs+'_materials_name" name="product_orders_material[material]['+trs+'][materials_name]" value="'+material+'">';
          var input_cantidad =  '<input type="numeric" class="span12" id="product_orders_material_material_'+trs+'_quantity" name="product_orders_material[material]['+trs+'][quantity]" value="'+cantidad+'">';
          var input_unit_material =  '<input type="text"  class="span12" id="product_orders_material_material_'+trs+'_materials_unit" name="product_orders_material[material]['+trs+'][materials_unit]" value="'+unit_material+'">';
          var input_description =  '<input type="textarea" id="product_orders_material_material_'+trs+'_description" name="product_orders_material[material]['+trs+'][description]" value="'+description+'">';
          var input_observation =  '<input type="textarea" id="product_orders_material_material_'+trs+'_observation" name="product_orders_material[material]['+trs+'][observation]" value="'+observation+'">';
          var input_production_order =  '<input type="hidden" id="product_orders_material_material_'+trs+'_production_order_id" name="product_orders_material[material]['+trs+'][production_order_id]" value="'+product_order+'">';
          //console.log(input_product_id, 'producto id');
          var fila = '<tr><td>'+input_production_order+input_cantidad+'</td><td>'+input_material+'</td><td>'+input_unit_material+'</td><td>'+input_description+'</td><td>'+input_observation+'</td></tr>';
          $('#tabla >tbody >tr:last').after(fila);
          $("#material").val('');  
          $("#quantity_material").val(''); 
          $("#unit_material").val(''); 
          $("#description").val(''); 
          $("#observation").val(''); 
          }else{
            alert('Ingrese el Nombre del Material')
          }
      }else{
       alert('Ingrese la Cantidad')
      } 
    });
    /*fin agregar detalle*/ 
   


  /*fin del document*/      
  });

      