%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(product_orders_materiales_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_product_orders_material_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3="Listadas de Materiales"
      %hr
      %div.tab-content
        %div.list
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filter'
          = flash_messages
          = render 'list'                  
      .clearfix.total-count= pluralize(@product_orders_materiales.size, 'orden')


    


:javascript
  $(document).ready(function() {
    $('#tablequotes').DataTable();
    $("#search_number, #search_client, #search_adviser, #search_agency").select2({
      allowClear: true
    });
  });

