<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @product_orders_material.quantity %>
</p>

<%= link_to 'Edit', edit_product_orders_material_path(@product_orders_material) %> |
<%= link_to 'Back', product_orders_materiales_path %>
