%div.span12
  %div.row-fluid
    .span6
      = f.label  :"Orden de Producción", :title, "Orden de Producción  .", :class => "space-label-rigth"
      = f.select :production_order_id, ProductionOrder.all.map{ |po| [po.number+' - '+po.order_status, po.id] }, {:prompt  => 'Orden de Producción'}, {:class => 'span6 field-select'}
    .span6
      = f.input :created_at, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Fecha/Hora"
  %div.row-fluid
    .span6
      = f.input :status, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Estatus"
    .span6.enlace_orden 
      
  %hr
  %div.row-fluid
    .span6
      = f.input :num_production_order, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Núm. de la Orden de Producción"
    .span6
      = f.input :quote_id, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Núm. de la Cotización"
  %div.row-fluid
    .span6
      = f.input :agency_name, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Cliente/Agencia"
    .span6
      = f.input :adviser_name, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Asesor"
  %div.row-fluid
    .span6
      = f.input :reference, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Referencia"
    .span6
      = f.input :administrador_name, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Usuario"  
  %div.row-fluid  
    .span12  
      = f.input :description, required: true, as: :text, input_html: { class: 'span12 height-large', row:10, readonly: @production_order_binnacle.new_record? ? false : true}, label: "Comentario"
      = f.input :administrador_id, as: :hidden, input_html: { value: current_user.try(:id)}
  %hr
  = render 'production_order_binnacle_anexe', :f => f
 
