- if @binnacles.any?
  %table.table.table-condensed.table-striped#tableorders
    %thead
      %tr
        %th="# de Bitácora"  
        %th="# de Orden de Produccón" 
        %th="Cliente/Agencia"
        %th="Seguimiento"
        %th="Fecha"
        %th="Hora"
        %th="Estatus de la Orden"
        %th=""
    %tbody
      - @binnacles.each do |b|
        %tr
          %td= b.try(:id).to_s.rjust(5,"0")
          %td= b.production_order.try(:number)
          %td= b.production_order.quote.try(:client).try(:name)
          %td= b.try(:description)
          %td= b.try(:updated_at).strftime("%m/%d/%Y")         
          %td= b.try(:updated_at).strftime("%I:%M%p")
          %td= b.production_order.order_status
          %td
            = link_to(edit_production_order_production_order_binnacle_path(b.production_order, b), class: 'pjax', title: 'Ver Bitácora'){ content_tag(:i, '', class:"icon-eye-open") }
- else
  %span
    Sin Comentarios
  %br
  %br
  = link_to(new_production_order_production_order_binnacle_path, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
    - content_tag(:i, '') + "Agregar Nuevo"


          
