<li class="dropdown dd-1 visible-desktop"  >
  <a href="index.html" data-toggle="dropdown" class="glyphicons bell"><i></i>Alertas<span class="count count-alerts"></span> <span class="caret"></span></a>
  <ul class="dropdown-menu pull-right" >
    <li class="dropdown submenu">
      <a href="index.html#" class="dropdown-toggle glyphicons pushpin " data-toggle="dropdown"><i></i>Recordatorio</a>
        <ul class="dropdown-menu submenu-show submenu-hide pull-right " id='recordatorio'>  </ul>
    </li>  
   <li class="dropdown submenu">
      <a href="index.html#" class="dropdown-toggle glyphicons building " data-toggle="dropdown"><i></i>Ordenes de Produccion</a>
        <ul class="dropdown-menu submenu-show submenu-hide pull-right " id='ordenes'>  </ul>
    </li>  
   <li class="dropdown submenu">
      <a href="index.html#" class="dropdown-toggle glyphicons clock " data-toggle="dropdown"><i></i>Tiempos</a>
        <ul class="dropdown-menu submenu-show submenu-hide pull-right " id='tiempos'>  </ul>
    </li>     
  </ul>
</li>