#footer.hidden-print
  / Copyright Line
  .copy
    Vallas y Avisos-
    %a Todos los derechos reservados
    .desarrolladores
      Desarrollado por 
      %a{:href => "http://w2t.net/", :target => "_blank"} W2T
  / End Copyright Line
  / Copyright Line
  / End Copyright Line
/ // Footer END