/ Sidebar Menu
#menu.hidden-phone.hidden-print
  / Brand
  %a.logo{href: "/"}
    = image_tag 'logo_vallas.png'
  / Scrollable menu wrapper with Maximum height
  .slim-scroll{"data-scroll-height" => "1px"}
    / Regular Size Menu
    %ul.menu-0
      / Components Submenu Level 3
      - if current_user.is?(:costo) || current_user.is?(:vendedor) || current_user.is?(:seguimiento) || current_user.is?(:analista)
        %li.hasSubmenu.glyphicons.cart_in
          %a{"data-toggle" => "collapse", href: "#menu_cotizacion"}
            %i
            %span Cotizaciones
          %ul#menu_cotizacion.collapse
            / Components Submenu Level 3
            -if current_user.is?(:vendedor)
              %li
                %a{href: main_app.new_quote_path}
                  %span 
                    = t('.create_quote')
            -if current_user.is?(:costo) || current_user.is?(:vendedor) || current_user.is?(:seguimiento) 
              %li
                %a{href: main_app.quotes_path }
                  %span 
                    - if current_user.is?(:analista) || current_user.is?(:seguimiento) || current_user.is?(:vendedor)
                      = t('.list_quotes')
                    -else
                      = t('.list_quotes_new')
            -if current_user.is?(:costo) or current_user.is?(:analista)
              %li
                %a{href: main_app.list_cost_quotes_path}
                  %span
                    = t('.production_costs')
            -if current_user.is?(:seguimiento)   or current_user.is?(:costo) 
              %li
                %a{href: main_app.new_comment_path }
                  %span 
                    = t('.follow_quotes')
            -if current_user.is?(:seguimiento)   or current_user.is?(:costo)
              %li
                %a{href: main_app.comments_path}
                  %span 
                    = t('.follow_list')
        / Components Submenu Level 3 END
      - if can?(:read, ProductionOrder)
        %li.hasSubmenu.glyphicons.building
          %a{"data-toggle" => "collapse", href: "#menu_produccion"}
            %i
            %span Orden de Producción
          %ul#menu_produccion.collapse
            / Components Submenu Level 3
            - if current_user.is?(:vendedor)
              %li
                %a{href: main_app.quotes_lists_production_orders_path}
                  %span 
                    = t('.register_order')
            - if current_user.is?(:produccion)
              %li
                %a{href: main_app.new_orders_production_orders_path }
                  %span 
                    = t('.list_new_orders')
            %li
              %a{href: main_app.production_orders_path }
                %span 
                  = t('.list_orders')
      - if can?(:read, Remission) && current_user.is?(:produccion)
        %li.hasSubmenu.glyphicons.table
          %a{"data-toggle" => "collapse", href: "#menu_remission"}
            %i
            %span Remisión
          %ul#menu_remission.collapse
            / Components Submenu Level 3
            - if current_user.is?(:produccion) 
              %li
                %a{href: main_app.remissions_path}
                  %span 
                    = t('.list_remissions')
            - if current_user.is?(:produccion) 
              %li
                %a{href: main_app.new_remission_path }
                  %span 
                    = t('.new_remission')
      - if can?(:read, Bill) && (current_user.is?(:produccion) || current_user.is?(:facturacion))
        %li.hasSubmenu.glyphicons.notes
          %a{"data-toggle" => "collapse", href: "#menu_bill"}
            %i
            %span Facturación
          %ul#menu_bill.collapse
            / Components Submenu Level 3
            - if current_user.is?(:produccion) 
              %li
                %a{href: main_app.bills_path}
                  %span 
                    = t('.list_bills')
            - if current_user.is?(:produccion) 
              %li
                %a{href: main_app.new_bill_path }
                  %span 
                    = t('.new_bill')
        / Components Submenu Level 3 END
      - if can?(:read, WorkOrder) && (current_user.is?(:produccion) || current_user.is?(:coordinador_produccion))
        %li.hasSubmenu.glyphicons.nameplate
          %a{"data-toggle" => "collapse", href: "#menu_trabajo"}
            %i
            %span Orden de Trabajo
          %ul#menu_trabajo.collapse
            / Components Submenu Level 3
            - if can?(:create, WorkOrder)
              %li
                %a{href: main_app.new_work_order_path}
                  %span 
                    = t('.register_work_order')
            %li
              %a{href: main_app.work_orders_path }
                %span 
                  = t('.list_work_order')
        / Components Submenu Level 3 END
      %li.hasSubmenu.glyphicons.vcard
        %a{"data-toggle" => "collapse", href: "#menu_cuenta"}
          %i
          %span Mi perfil
        %ul#menu_cuenta.collapse
          / Components Submenu Regular Items
          %li
            %a{href: main_app.edit_administrador_registration_path(current_administrador)}
              %span 
                = t('.account_detail')
      / Components Submenu Level 9 END
      / Components Submenu Level 1
      - if current_user.is?(:administrador)
        %li.hasSubmenu.glyphicons.user
          %a{"data-toggle" => "collapse", href: "#menu_admin"}
            %i
            %span Seguridad
          %ul#menu_admin.collapse
            / Components Submenu Regular Items
            %li
              %a{href: rails_admin.index_path("administrador")}
                %span 
                  = t('.user_list')
            / // Components Submenu Regular Items END
        / Components Submenu Level 1 END
      / Components Submenu Level 10
      - if current_user.is?(:administrador)
        %li.hasSubmenu.glyphicons.cogwheels
          %a{"data-toggle" => "collapse", href: "#menu_mantenimiento"}
            %i
            %span Mantenimiento
          %ul#menu_mantenimiento.collapse
            / Components Submenu Regular Items
            %li
              %a{href: rails_admin.index_path("client")}
                %span 
                  = t(".clients")
            %li
              %a{href: rails_admin.index_path("adviser")}
                %span 
                  = t(".advisers")                   
            %li
              %a{href: rails_admin.index_path("category")}
                %span 
                  = t(".categories")                    
            %li
              %a{href: rails_admin.index_path("product")}
                %span 
                  = t(".products")
            %li
              %a{href: rails_admin.index_path("type")}
                %span 
                  = t(".types") 
            %li
              %a{href: rails_admin.index_path("product_type")}
                %span 
                  = t(".product_types")                                       
            %li
              %a{href: rails_admin.index_path("type_description")}
                %span 
                  = t(".type_description")    
            %li
              %a{href: rails_admin.index_path("difficulty_quote")}
                %span 
                  = t(".difficulty_quote")
            / // Components Submenu Regular Items END
        / Components SubmenuLevel 10 END
    .clearfix
    / // Regular Size Menu END
  / // Scrollable Menu wrapper with Maximum Height END
/ // Sidebar Menu END



