/ Top navbar (note: add class "navbar-hidden" to close the navbar by default)
.navbar.main.hidden-print
  / Wrapper
  .wrapper
    / Menu Toggle Button
    %button.btn.btn-navbar{type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar             
    / // Menu Toggle Button END
    / Top Menu Right
    %ul.topnav.pull-right
      = render "layouts/shared/alertas" 
      - if current_user
        / Profile / Logout menu
        - if administrador_signed_in?
          %li.dd-1
            %span
              %strong= current_user.nombre 
        %li.account.dropdown.dd-1
          %a.glyphicons.logout.user{"data-toggle" => "dropdown", href: ''}
            %span.hidden-phone= current_user.email
            %i
          %ul.dropdown-menu.pull-right
            %li.profile
              %span
                %span.heading
                  Usuario
                %span.img
                %span.details
                  %strong= current_user.email
                  = current_user.email
                %span.clearfix
            %li
              %span
                = link_to "Cerrar Sesiòn", user_or_admin_logout_path, class: 'btn btn-default btn-mini pull-right', method: Devise.sign_out_via
      / Logout link
      %li= link_to content_tag('i'), user_or_admin_logout_path, class: 'glyphicons keys single-icon', method: Devise.sign_out_via, title: t('admin.misc.log_out')
      
    / // Top Menu Right END
    .clearfix
  / // Wrapper END
  %span.toggle-navbar
/ Top navbar END

