%div.span12
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Seguimiento"
      .widget-body  
        %div.row-fluid         
          .span6
            = f.input :numero, input_html: { class: 'span10', readonly: true, value: '######' }, label: "Numero"               
        %div.row-fluid 
          .span6      
            = f.input :fecha,   input_html: { readonly: true, class: 'span10', value: "#{Time.zone.now.strftime '%d/%m/%Y'}"}, label: "Fecha"
          .span6
            = f.input :hora,  input_html: { readonly: true, class: 'span10',  value: "#{Time.zone.now.strftime '%I:%M %p'}" }, label: "Hora"                       
        %hr 
        %div.row-fluid  
          .span7  
            = f.label  :"Cotización", :title, "Cotizacion  .", :class => "space-label-rigth"             
            = f.select :quote_id, @quotes.map{ |c| [c.number+' - '+c.quote_status, c.id] }, {:prompt  => 'Cotizacion'}, {:class => 'span6 field-select'}
          .span1            
          .span4.enlace  
        %div.row-fluid  
          .span6         
            = f.input :status, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Estatus"            
        %hr    
        %div.row-fluid    
          .span6
            = f.input :date, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Fecha"            
          .span6
            = f.input :time, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Hora"            
        %div.row-fluid    
          .span6
            = f.input :client_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Cliente"
          .span6
            = f.input :nit_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "RUT/NIT"
        %div.row-fluid
          .span6
            = f.input :phone_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Teléfono"
          .span6
            = f.input :address_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Dirección"
        %div.row-fluid    
          .span6  
            = f.input :adviser_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Asesor"
          .span6
            = f.input :reference, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Referencia"
        %div.row-fluid             
          .span6  
            = f.input :comission, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Comisión"
            
        %hr                       
        %div.row-fluid 
          .span12
            = f.input :comment, required: true, input_html: { id: 'comment', class: 'width-order-large comment'}, label: "Descripción"                                 
  .clearfix