%div.span12
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Seguimiento"
      .widget-body        
        %div.row-fluid  
          .span6    
            = f.input :id, as: :string,  input_html: {  readonly: true}, label: "N# Seguimiento"                                 
        %div.row-fluid           
          .span6              
            = f.input :fecha,   input_html: { readonly: true, class: 'span10'}, label: "Fecha"
          .span6
            = f.input :hora, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Hora"                                
        %hr
        %div.row-fluid  
          .span6    
            = f.input :quote_id,  input_html: { id: 'quote_id', class: 'quote_id', readonly: true}, label: "Cotizacion"                                             
          .span6    
            //= f.input :quote_status_edit, input_html: {class: 'span10', readonly: true},  label: "Estatus C."                                                         
        %div.row-fluid           
          .span6              
            = f.input :date,   input_html: { readonly: true, class: 'span10'}, label: "Fecha C."
          .span6
            = f.input :time, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Hora C."                                
        %div.row-fluid    
          .span6
            = f.input :client_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Cliente"
          .span6
            = f.input :nit_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Nit"
        %div.row-fluid
          .span6
            = f.input :phone_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Teléfono"
          .span6
            = f.input :address_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Dirección"
        %div.row-fluid    
          .span6  
            = f.input :adviser_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Asesor"
          .span6
            = f.input :comission, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Comisión"                                  
        %div.row-fluid              
          .span12 
            = f.input :reference, as: :string, required: false, input_html: {maxlength: 255, class: 'width-order-large', readonly: true}, label: "Referencia"
        %hr            
        %div.row-fluid 
          .span12
            = f.input :comment,  input_html: { id: 'comment', class: 'width-order-large comment', readonly: false}, label: "Descripcion"
  .clearfix