- if @comments.any?
  %table.table.table-condensed.table-striped#comments-table
    %thead
      %tr
        %th="N# Seguimiento"
        %th="Cotizacion" 
        %th="Cliente/agencia" 
        %th="Seguimiento"
        %th="Fecha"        
        %th="Hora"      
        %th="Estatus" 
    %tbody
      - @comments.each do |a|
        %tr
          %td= a.id.to_s.rjust(6, '0')
          %td= a.commentable_id.to_s.rjust(6, '0')
          %td= a.commentable.client.name
          %td= a.comment
          %td= a.created_at.strftime('%d/%m/%Y')
          %td= a.created_at.strftime('%I:%M %p')
          %td= a.commentable.quote_status
          %td
            = link_to(edit_comment_path(a.id), title: 'Ver Seguimiento'){ content_tag(:i, '', class:"icon-eye-open") }
            /*= link_to(comment_path(a), method: :delete, class: 'pjax', title: 'Eliminar', data: {confirm: '¿Desea eliminar El Seguimiento?'}){ content_tag(:i, '', class:"icon-remove") }*/
            
