%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(comments_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        - if current_user.is?(:seguimiento) || current_user.is?(:costo)
          %li.icon.new_collection_link.active  
            = link_to(new_comment_path(:quote_id => p), class: 'pjax', title: 'Agregar Seguimiento a la Cotizacion'){ content_tag(:i, '', class:"icon-eye-open") }  
    %div.widget-body
      %h3="Editar Seguimiento de la Cotizacion"
      %hr
      %div.tab-content

        = simple_form_for @comment do |f| 
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span11
              %div.row-fluid
                = render 'form_fields_edit', :f => f
          %br
          = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
            - content_tag(:i, '') + "Guardar"

          = link_to(comments_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Ir a Lista"

:javascript


  $(document).on('ready page:load', function () { 

    $(".field-select").select2({
      placeholder: "Seleccione",
      allowClear: true
    });

  });

  