%ul.breadcrumb
  %li.false
    = link_to "Panel de control", rails_admin.dashboard_path
    %span.divider="/"
  %li.active
    %a="Seguimiento"

%h3
  = t('layouts.shared.sidebar_administrador.follow_list')

%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(comments_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        - if current_user.is?(:seguimiento) || current_user.is?(:costo)
          %li.icon.new_collection_link 
            = link_to(new_comment_path){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %div.tab-content
        %div.list.dataTables_wrapper
          = flash_messages
          = render 'list'                  
      .clearfix.total-count= pluralize(@comments.size, 'proyecto')

:javascript
  $(document).ready(function() {
    //$('#comments-table').DataTable();
  });