.container
  .wrapper
    %h1.glyphicons.lock 
      ¿Olvidó su contraseña?
      %i
    .widget
      .widget-head
        %h3.heading Recuperación de Contraseña
      .widget-body
        = simple_vertical_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: false, autofocus: true, placeholder: "Ingrese su correo electrónico", input_html: { class: "input-block-level" }
            .separator.bottom
            
            .row-fluid
              .span12.center
                = f.button :submit, "Recuperar contraseña", class: "btn btn-block btn-primary"
      .widget-footer
        .login-footer-links
          = link_to "Inicio de sesión", new_session_path(resource_name), class: "pull-right"