<h3>Cotización</h3>
<div class="innerLR shop-client-products cart invoice">

  <table class="table table-invoice">
    <tbody>
      <tr>
        <td style="width: 58%;">
          <div class="media">          
            <img class="media-object pull-left " src="/assets/logo_vallas_corto_pequeno.png" alt="Logo" />       
            <div class="media-body hidden-print">
              <div class="alert alert-primary">
                <strong>La Cotizacion Paso a estatus:</strong><br/>
                <%= @quote.quote_status %>
              </div>
              <div class="separator bottom"></div>
            </div>
          </div>
        </td>
        <td class="right">
          <div class="innerL">
            <h4>#  <%= @quote.id.to_s.rjust(6, '0') %> / <%= @quote.created_at.strftime("%d-%m-%Y") %></h4> 
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="separator bottom"></div>
  <div class="well margin-none">
    <table class="table table-invoice">
      <tbody>
        <tr>
          <td style="width: 50%;">
            <p class="lead">Información de Cliente/Agencia</p>
            <h2> <%= @quote.client.name %>.</h2>
            <address class="margin-none">
              <strong>Comision : <%= @quote.commission_quote %> %</strong><br/>
              <%= @quote.client.address %><br/>            
              <abbr title="Work email">e-mail:</abbr> <%= @quote.client.email %><br /> 
              <abbr title="Work Phone">Telefono:</abbr> <%= @quote.client.phone %><br/>            
            </address>
          </td>
          <td class="right">
            <p class="lead">Informacion del Contacto</p>
            <h2><%= @quote.client.contact %></h2>
            <address class="margin-none">
              <strong>Cargo: </strong>  
              <strong><%= @quote.client.office %></strong><br> 
            
              <div class="separator line"></div>
              <p class="margin-none"><strong>Forma de Entrega:</strong><br/> <%= @quote.form_delivery %>.</p>
              <p class="margin-none"><strong>Forma de Pago:</strong><br/> <%= @quote.method_payment %>.</p>
              
            </address>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-bordered table-primary table-striped table-vertical-center">
    <thead>
      <tr>
        <th style="width: 1%;" class="center">No.</th>
        <th >Producto</th>       
        <th style="width: 210px;">Observación</th>
        <th style="width: 80px;">Cantidad</th>
        <th style="width: 80px;">Precio</th>
        <th style="width: 80px;">Total</th>

      </tr>
    </thead>
    <tbody>    
     <%- total = 0 %>
     <%- total2 = 0 %>
     <%- @detalle.each_with_index do |quote_details, i| %>
            <!-- Cart item -->
      <tr>
        <td class="center"><%= i + 1 %></td>
        <td>
          <h5> <%= quote_details.name %></h5>
        
        </td>
        <td ><%= quote_details.description %></td>
        <td class="right strong"><%= quote_details.quantity %></td>
        <td class="right strong"><%= quote_details.price %></td>
        <td class="right strong"><%= quote_details.quantity*quote_details.price %></td>
        <%- total = total +  quote_details.quantity %>
        <%- total2 = total2 +  (quote_details.quantity*quote_details.price) %>
      </tr>
      <!-- // Cart item END -->
            <!-- Cart item -->
       <% end %>
            
    </tbody>
  </table>
  <div class="separator bottom"></div>
  
  <!-- Row -->
  <div class="row-fluid">
  
    <!-- Column -->
    <div class="span5">
      <div class="box-generic">
        <p class="margin-none"><strong>Referencia:</strong><br/> <%= @quote.reference %>.</p>
      </div>
    </div>
    <!-- Column END -->
    
    <!-- Column -->
    <div class="span4 offset3">
      <table class="table table-borderless table-condensed cart_total">
        <tbody>
          <tr>
            <td class="right">Total:</td>
            <td class="right strong">   <%= total2 %></td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- // Column END -->
    
  </div>
  <!-- // Row END -->
  
</div>  
  
    
    </div>
    <!-- // Content END -->