 <!-- START CONTENT -->
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Alerta para el Usuario: <%= @user.nombre %></h1>
        </div>                        
    </div>
</div>

<div class="clearfix"></div>

<div class="project">
  <div class="list-group" id="alerta-contenedor"> 
  
   <p class="list-group-item-text">La cotizacion numero <%= @alerts.model_id %></p>
   <p class="list-group-item-text">Alerta: <%= @alerts.description %></p>

  </div>
</div>

