<h3>Hoja de Calculo</h3>
<div class="innerLR shop-client-products cart invoice">

  <table class="table table-invoice">
    <tbody>
      <tr>
        <td style="width: 58%;">
          <div class="media">          
            <img class="media-object pull-left " src="/assets/logo_vallas_corto_pequeno.png" alt="Logo" />       
            <div class="media-body hidden-print">
              <div class="alert alert-primary">
                <strong>Estatus de la Hoja de Calculo:</strong><br/>
                 <%= @materials_list.materials_list_status %>
              </div>
              <div class="separator bottom"></div>
            </div>
          </div>
        </td>
        <td class="right">
          <div class="innerL">
            <h4>#  <%= @materials_list.number.to_s.rjust(6, '0') %> / <%= @materials_list.created_at.strftime("%d-%m-%Y") %></h4> 
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="separator bottom"></div>
  <div class="well margin-none">
    <table class="table table-invoice">
      <tbody>
        <tr>
          <td style="width: 50%;">
            <p class="lead">Asesor</p>
            <h2> <%= @materials_list.advisers_name %>.</h2>
            <address class="margin-none">
              <strong>Descripcion </strong><br/>
              <%= @materials_list.product_description %><br/>            
              <abbr title="Work email"> <strong>Fecha de Entrega:</strong></abbr> <%= @materials_list.date_delivery %><br /> 
              <abbr title="Work Phone"> <strong>CC:</strong>/abbr> <%= @materials_list.cc %><br/>            
            </address>
          </td>
          <td class="right">
            <p class="lead">Preparado Por: </p>
            <h2><%= @materials_list.prepared_by %></h2>
            <address class="margin-none">
              <strong>Denominación: </strong>  
              <strong><%= @materials_list.denomination %></strong><br> 
              <strong>Tamaño: </strong>  
              <strong><%= @materials_list.size_comp %></strong><br> 
            
              <div class="separator line"></div>
              <p class="margin-none"><strong>Valor Fototelones:</strong><br/> <%= @materials_list.fototelones_value %>.</p>
              <p class="margin-none"><strong>Longitud:</strong><br/> <%= @materials_list.length_comp %>.</p>
              <p class="margin-none"><strong>Ancho:</strong><br/> <%= @materials_list.width_comp %>.</p>
              
            </address>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-bordered table-primary table-striped table-vertical-center">
    <thead>
      <tr>
        <th style="width: 1%;" class="center">No.</th>
        <th >Material</th>       
        <th style="width: 210px;">Cantidad</th>
        <th style="width: 80px;">Unidad</th>
        <th style="width: 80px;">Descripcion</th>
        <th style="width: 80px;">Observacion</th>
        <th style="width: 80px;">Referencia</th>
      </tr>
    </thead>
    <tbody>
     <%- total = 0 %>
     <%- @materials_list.materiales_details.each_with_index do |m, i|  %>
            <!-- Cart item -->
      <tr>
        <td class="center"><%= i + 1 %></td>
        <td>
          <h5> <%= m.materials_name %></h5>
        
        </td>
        <td ><%= m.quantity %></td>
        <td class="right strong"><%= m.materials_unit %></td>
        <td class="right strong"><%= m.description %></td>
        <td class="right strong"><%= m.observation %></td>
        <td class="right strong"><%= m.materials_reference %></td>
        <%- total = total +  m.quantity %>
      </tr>
      <!-- // Cart item END -->
            <!-- Cart item -->
       <% end %>
            
    </tbody>
  </table>
  <div class="separator bottom"></div>
  
  <!-- Row -->
  <div class="row-fluid">
  

    
    <!-- Column -->
    <div class="span4 offset3">
      <table class="table table-borderless table-condensed cart_total">
        <tbody>
          <tr>
            <td style="width: 1%;"></td>
            <td class="right">Total:</td>
            <td style="width: 210px;" class="right strong">   <%= total %></td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- // Column END -->
    
  </div>
 
</div>  
  
    
    </div>
    <!-- // Content END -->
