= simple_form_for :search, {url: search_remissions_path, method: :get} do |f|
  .span12
    %div.row-fluid
      %div.span5
        = f.select :client, @clients.map{ |c| [c.name, c.id] }, label: false, prompt: "Cliente"
      %div.span5
        = f.select :production_order, @production_orders.map{ |r| [r.number, r.id] }, :label => false, prompt: "Orden de Producción"
      .span5
        = f.select :quote, @quotes.map{ |r| [r.number, r.id] }, :label => false, prompt: "Número de Cotizacion"
      = f.input :production_order_id, as: :hidden, input_html: {maxlength: 255, class: 'span10', value: @production_order.try(:id)}
    %div.row-fluid
      .span12.botton-filter
        = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
          - content_tag(:i, '') + "Buscar"
        = link_to(production_orders_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
          - content_tag(:i, '') + "Cancelar"  





