- if @remissions.any?
  %table.table.table-condensed.table-striped#tableorders
    %thead
      %tr
        %th="Nùmero de Orden de Producción"  
        %th="Nùmero"  
        %th="Fecha"
        %th="Cliente/Agencia"
        %th="Estatus"
        %th=""
    %tbody
      - @remissions.each do |r|
        %tr
          %td= r.production_order.try(:number)
          %td= r.try(:number_remission)
          %td= r.try(:date_remission)
          %td= r.production_order.try(:quote).try(:client).try(:name)
          %td
            %span.label.label-success= r.remission_status
          %td
            = render 'status_changes', :r => r
            = link_to(edit_remission_path(r, :production_order_id =>@production_order), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
            - if can? :destroy, Remission
              = link_to(remission_path(r, :production_order_id =>@production_order), method: :delete, class: 'pjax', title: 'Eliminar Remisión', data: {confirm: '¿Desea eliminar la Remisión?'}){ content_tag(:i, '', class:"icon-remove") }
- else
  %span
    Sin Remisiones
  %br
  %br
  = link_to(new_remission_path(:production_order_id =>@production_order), class: 'btn btn-icon btn-primary glyphicons circle_ok') do
    - content_tag(:i, '') + "Agregar Nuevo"

          
