.nested-fields.well  
  .row-fluid
    .span11  
      .span6
        = f.input :product_id, collection: @products, label_method: :name, value_method: :id, :label => 'Producto', prompt: "Producto", input_html: { class: 'width-order-large-nested', :id => 'product_id' }
      .span6
        = f.input :quantity, :label => 'Cantidad', prompt: "Cantidad", input_html: { class: 'span10', :id => 'quantity', type: 'text' }  
      .span8
        = f.input :description, :label => 'Descripción', prompt: "Descripción", input_html: { class: 'span10', :id => 'description', type: 'text' }  
      %br
    .span1
      %br
        = link_to_remove_association "Eliminar", f



