#remission_details
  = f.simple_fields_for :remission_details do |r|
    = render 'remission_detail_fields', :f => r 
  .links
    = link_to_add_association(f, :remission_details,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Detalle' }
