-if r.elaborated? 
  = link_to(sent_remission_path(r), data: {confirm: '¿Desea marcar como entregada la Remisión?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
    - content_tag(:i, '') + "Entregar Remisión"

