%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(remissions_path(:production_order_id => @production_order), class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        -if @production_order.present? 
          %li.icon.new_collection_link.active
            = link_to(edit_production_order_path(@production_order), class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Ir a la Orden') }
        %li.icon.new_collection_link 
          = link_to(new_remission_path(:production_order_id => @remission.production_order), class: 'pjax', id: "botton"){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3="Editar Remisión No "+@remission.try(:number_remission)+". Orden No "+@remission.production_order.try(:number)
      %hr
      %div.tab-content

        = simple_form_for @remission, {url: remission_path, method: :put} do |f|
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span12
              %div.row-fluid
                = render 'form_fields', :f => f 
                              
          %br
          = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
            - content_tag(:i, '') + "Guardar"
          = link_to(remissions_path(:production_order_id => @production_order), class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"

      
