%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(remissions_path(:production_order_id =>@production_order), class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_remission_path(:production_order_id =>@production_order)){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }

    %div.widget-body
      %h3="Listado de Remisiones"
      %hr
      %div.tab-content
        %div.list
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filter'
          = flash_messages
          = render 'list'                  



:javascript
  $(document).ready(function() {
    $('#tableorders').DataTable({
        "ordering": false,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No hay registros encontrados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros activos",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sSearch":        "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":    "Último",
              "sNext":    "Siguiente",
              "sPrevious": "Anterior"
            }
        }
    });
     $("#search_client, #search_production_order, #search_quote").select2({
      allowClear: true
    });
  });
