%div.span10
  %div.row-fluid
    = f.input :code, input_html: {maxlength: 255, class: 'span12'}, label: "Código"
  %div.row-fluid
    = f.input :name, input_html: {maxlength: 255, class: 'span12'}, label: "Nombre"
  %div.row-fluid
    .span6
      = f.input :nit, input_html: {maxlength: 20}, label: "RUT/NIT"   
  %div.row-fluid
    .span6
      = f.input :contact, input_html: {maxlength: 255}, label: "Contacto"   
    .span6
      = f.input :office, input_html: {maxlength: 20}, label: "Cargo"       
  %div.row-fluid
    .span6
      = f.input :email, input_html: {maxlength: 255}
    .span6
      = f.input :phone, input_html: {maxlength: 20}, label: "Teléfono"
  %div.row-fluid
    = f.input :address, as: :text, input_html: {maxlength: 255, row:2, class: 'span12'}, label: "Dirección"
