- if @clients.any?
  %table.table.table-condensed.table-striped#clienttable
    %thead
      %tr
        %th="Nombre"  
        %th="RUT/NIT"
        %th="Email"
        %th="Contacto"
        %th="Cargo"
        %th="telefono"
        %th="Dirección"
    %tbody
      - @clients.each do |a|
        %tr
          %td= a.name
          %td= a.nit
          %td= a.email
          %td= a.contact
          %td= a.office
          %td= a.phone
          %td= a.address

          %td
            = link_to(edit_client_path(a), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
            = link_to(client_path(a), method: :delete, class: 'pjax', title: 'Eliminar', data: {confirm: '¿Desea eliminar el  Cliente?'}){ content_tag(:i, '', class:"icon-remove") }
