<div class="modal fade modal-position" id="myModal" tabindex="-1000" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Crear Nuevo Cliente</h3>
      </div>
      <div class="modal-body">
        <%= render :partial => 'clients/new' %>
      </div>

  </div>
</div>
