%div.innerLR
  %div.widget.widget-tabs
    %div.widget-body
      %div.tab-content
        =simple_form_for :client, {url: clients_path, method: :post, class: "form-client-modal", remote: true} do |c|
          /= simple_form_for @client, :url => "clients_path",  :method => :post do |c| 
          /= simple_form_for @client, :url => "/clients",  :method => :post do |c|  
          /= simple_form_for (@client, :url => "clients_path",  :method => :post) do |c| 
          = c.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span11
              %div.row-fluid
                %div.span10
                  %div.row-fluid
                    = c.input :name, input_html: {maxlength: 255, class: 'span12'}, label: "Nombre"
                  %div.row-fluid                    
                    = c.input :nit, input_html: {maxlength: 20}, label: "RUT/NIT"  
                  %div.row-fluid                   
                    = c.input :email, input_html: {maxlength: 255} 
                  %div.row-fluid   
                    = c.label  :"¿Es Agencia?", :title, "¿Es Agencia?", :class => "space-label-rigth", required: false 
                    = c.check_box :agency, {}, "true", "false"                    
                  %div.row-fluid
                    = c.input :contact, input_html: {maxlength: 255}, label: "Contacto" 
                  %div.row-fluid
                    = c.input :office, input_html: {maxlength: 20}, label: "Cargo", required: false      

                  %div.row-fluid                                     
                    = c.input :phone, input_html: {maxlength: 20}, label: "Celular", required: false
                  %div.row-fluid                                     
                    = c.input :city, input_html: {maxlength: 20}, label: "Ciudad", required: false
                  %div.row-fluid
                    = c.input :address, as: :text, input_html: {maxlength: 255, row:2, class: 'span12'}, label: "Dirección", required: false          
            .modal-footer.links
              = button_tag(class: 'btn btn-icon glyphicons circle_plus btn-success add_client'){content_tag('i') + "Agregar"}                
              = button_tag(class: 'btn btn-icon btn-default glyphicons circle_remove', 'data-dismiss'=> 'modal') do
                - content_tag(:i, '') + "Cerrar" 
            
            

