- if @alerts.any?
  %table.table.table-condensed.table-striped#tablealerts
    %thead
      %tr
        %th="Tipo"  
        %th="Descripción"  
        %th="Fecha"
        %th="Documento"
        %th="Status"
        %th="Días"
        %th=""
        
    %tbody
      - @alerts.each do |p|
        %tr
          %td= p.alert.type_alert
          %td= p.alert.description
          %td= p.alert.created_at
          %td= p.alert.get_document.number
          %td= t("status.#{p.alert.get_document.status}")
          %td= p.alert.days
          %td
            = link_to(send("edit_#{p.alert.get_document.class.to_s.underscore}_path", p.alert.get_document), title: 'Ir a Documento'){ content_tag(:i, '', class:"icon-pencil") }
          