= flash_messages
%h2= "Bienvenido #{current_user.name}"

%div.widget
  
  %div.widget-head
    %h4.heading
      Resumenes
  %div.widget-body
    %canvas{id: "ChartByDepartament", width: "300", height: "300", "data-seller" =>  Quote.in_seller.count, "data-cost" =>  Quote.in_cost.count, "data-production-order" =>  Quote.in_production_order.count}
    %canvas{id: "QuotesAccept", width: "300", height: "300", "data-accepted" =>  Quote.accepted.count, "data-rejected" =>  Quote.rejected.count, "data-in_process" =>  Quote.in_process.count}
    %canvas{id: "QuotesAmount", width: "300", height: "300", "data-accepted" =>  QuoteDetail.accepted.sum("quantity * price"), "data-rejected" =>  QuoteDetail.rejected.sum("quantity * price"), "data-in_process" =>  QuoteDetail.in_process.sum("quantity * price")}

%div.widget
  
  %div.widget-head
    %h4.heading
      Alertas y Notificaciones
  %div.widget-body
    %h3
      = t('layouts.shared.sidebar_administrador.alerts')
    %hr
    %div.tab-content
      %div.list
        = render 'list'                  
    .clearfix.total-count= pluralize(@alerts.size, ' Alertas/Notificaciones')
