#bill_details
  = f.simple_fields_for :bill_details do |r|
    = render 'bill_detail_fields', :f => r 
  .links
    = link_to_add_association(f, :bill_details,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Detalle' }
