%div.span12
  %div.row-fluid
    .span6
      = f.input :date_bill, refquired: true, :as => :date_picker, input_html: { class: 'span12'}, label: "Fecha"
    .span6
      = f.input :bill_number, required: false, input_html: {maxlength: 255, class: 'span10'}, label: "Número de Factura"
  %div.row-fluid
    .span6
      - if f.object.production_order.present?
        = f.input :production_order_number, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.production_order.present? ? f.object.production_order.number :  ""}, label: "Orden de Producción"
        = f.input :production_order_id, as: :hidden, input_html: {maxlength: 255, class: 'span10', readonly: true}
      - else
        = f.association :production_order, collection: @production_orders.map{ |c| [c.number, c.id] }, input_html: { id: "bill_production_order_id",class: 'span10 field-select'}, label: "Orden de Producción"
    .span6
  %div.row-fluid
    .span6
      = f.input :client_name, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Cliente/Agencia"
    .span6
      = f.input :client_phone, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Teléfono"
  %div.row-fluid
    .span12
      = f.input :client_adress, as: :string, required: false, input_html: {maxlength: 255, class: 'width-order-large', readonly: true}, label: "Dirección"
  %div.row-fluid
    .span12
      = f.input :reference, as: :string, required: false, input_html: {maxlength: 255, class: 'width-order-large', readonly: true}, label: "Referencia"
  .clearfix
  %hr
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.edit
          %i
          = "Detalle"
      .widget-body
        %h3="Descripción"
        %hr
        %div.tab-content
          %div.well  
            = render 'bill_detail', :f => f

  %hr    
  %div.row-fluid  
    .span12  
      = f.input :observations, required: true, as: :text, input_html: { class: 'span12 height-large', row:10}, label: "Observaciones"
      = f.input :administrador_id, as: :hidden, input_html: { value: current_user.try(:id)}
  %hr
  
:javascript
  $(document).ready(function() {
    $(".field-select").select2({
      placeholder: "Seleccione",
      allowClear: true
    });
  });

  $('#bill_production_order_id').change(function(){ 

      if($(this).val())         {  
        $.get('/production_orders/'+$(this).val()+'/details.json',
          function(data) {                                                                      
            $("#bill_client_name").val(data.client_name);                               
            $("#bill_client_phone").val(data.client_phone);
            $("#bill_client_adress").val(data.client_address);
            $("#bill_reference").val(data.quote_reference);
          });
    }
  });
 
