- if @bills.any?
  %table.table.table-condensed.table-striped#tableorders
    %thead
      %tr
        %th="Nùmero de Orden de Producción"  
        %th="Nùmero"  
        %th="Fecha"
        %th="Cliente/Agencia"
        %th=""
    %tbody
      - @bills.each do |r|
        %tr
          %td= r.production_order.try(:number)
          %td= r.try(:bill_number)
          %td= r.try(:date_bill)
          %td= r.production_order.try(:quote).try(:client).try(:name)
          %td
            = link_to(edit_bill_path(r, :production_order_id =>@production_order), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
            - if can? :destroy, Bill
              = link_to(bill_path(r, :production_order_id =>@production_order), method: :delete, class: 'pjax', title: 'Eliminar Factura', data: {confirm: '¿Desea eliminar la Factura?'}){ content_tag(:i, '', class:"icon-remove") }
- else
  %span
    Sin Remisiones
  %br
  %br
  = link_to(new_bill_path(:production_order_id =>@production_order), class: 'btn btn-icon btn-primary glyphicons circle_ok') do
    - content_tag(:i, '') + "Agregar Nuevo"

