= simple_form_for :search, {url: search_agencies_path, method: :get} do |f|
  .row-fluid
    .span6.first
      = f.input :name, input_html: {class: 'span6', placeholder: "Nombre"}, label:false
  %div.row-fluid
    .span12.first
      = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
        - content_tag(:i, '') + "Buscar"
      = link_to(agencies_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
        - content_tag(:i, '') + "Cancelar"  