%div.span10
  %div.row-fluid
    = f.input :name, input_html: {maxlength: 255, class: 'span12'}, label: "Nombre"
  %div.row-fluid
    .span6
      = f.input :email, input_html: {maxlength: 255}
    .span6
      = f.input :phone, input_html: {maxlength: 20}, label: "Teléfono"
  %div.row-fluid
    = f.input :address, as: :text, input_html: {maxlength: 255, row:2, class: 'span12'}, label: "Dirección"
