- if @agencies.any?
  %table.table.table-condensed.table-striped#agencytable
    %thead
      %tr
        %th="Nombre"  
        %th="Email"
        %th="Teléfono"
        %th=""
    %tbody
      - @agencies.each do |a|
        %tr
          %td= a.name
          %td= a.email
          %td= a.phone
          %td
            = link_to(edit_agency_path(a), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
            = link_to(agency_path(a), method: :delete, class: 'pjax', title: 'Eliminar', data: {confirm: '¿Desea eliminar la Agencia?'}){ content_tag(:i, '', class:"icon-remove") }
