- if @quotes.any?
  %table.table.table-condensed.table-striped#tablealerts
    %thead
      %tr              
        %th="Tipo"
        %th="Descripcion"       
        %th=""
    %tbody
      - @alerts.each_with_index do |p, i|
        %tr{:id => p.id}                
          %td= p.type_alert
          %td
            = p.description 
            = ' Numero : ' 
            = p.model_id.to_s.rjust(6, '0') 
            = ' Ver: '  
            = link_to(p.model_id.to_s.rjust(6, '0'), edit_quote_path(p.model_id), class: "btn btn-link" )     
          %td
            = link_to (){ content_tag(:i, '', class:"icon-remove") }       
          
          