%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(alerts_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Alertas') }                     
    %div.widget-body
      %h3
        Alertas
      %hr
      %div.tab-content
        %div.list
          = render 'list' 

                        



    


