%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Anexos de la Orden"
      .widget-body                           
        %div.widget-body
          %h3="Anexos y Fotos"
          %hr
          %div.tab-content
            %div.list
              %div.well.dataTables_wrapper
                %table.table.table-condensed.table-striped#tabla
                  %thead
                    %tr
                      %th="Imagen"
                      %th="Nombre"  
                      %th="Tipo"                   
                      %th=""                   
                  %tbody 
                    - @production_order.production_order_anexes.each_with_index do |order_anexes, i|          
                      %tr
                        -if (order_anexes.anexo_content_type)
                          %td
                            =image_tag order_anexes.anexo.url, size: "250" 
                            =f.input :id, input_html: {id:"quote_edit_anexes_attributes_#{i}_id", name:"quote[edit_anexes_attributes][#{i}][id]", value:"#{order_anexes.id}", type: 'hidden'}, label:false
                          %td=order_anexes.anexo_file_name
                          %td=order_anexes.anexo_content_type
                          %td=link_to "Descargar", order_anexes.anexo.url 
                        


  .clearfix

