= simple_form_for :search, {url: search_production_orders_path, method: :get} do |f|
  .span12
    %div.row-fluid
      .span5
        = f.select :quote, @quotes.map{ |r| [r.number, r.id] }, :label => false, prompt: "Número de Cotizacion"
      .span5
        = f.select :number, @orders.map{ |r| [r.number, r.number] }, :label => false, prompt: "Número de Orden"
      %div.span5
        = f.select :status, options_for_select([["Elaborado", "elaborated"], ["En revisión", "review"], ["Enviado a Costo", "sent_to_cost"], ["Enviado", "sent"]]), input_html: {id: "status", class: 'span10 width-select'}, :label => false, prompt: "Estatus"
        = hidden_field_tag  :type, @type
    %div.row-fluid
      %div.span5
        = f.select :client, @clients.map{ |c| [c.name, c.id] }, label: false, prompt: "Cliente"
      - if !current_user.is?(:vendedor)
        %div.span5
          = f.select :adviser, @advisers.map{ |r| [r.name, r.id] }, :label => false, prompt: "Asesor"
      
    %div.row-fluid
      .span12.botton-filter
        = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
          - content_tag(:i, '') + "Buscar"
        = link_to(production_orders_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
          - content_tag(:i, '') + "Cancelar"  





