%div.span12
  %div.well  
    %table.table.table-condensed.table-striped#tabla_productos
      %thead
        %tr
          %th="Producto"  
          %th="Descripcion"  
          %th="Cantidad Solicitada"
          %th="Cantidad Seleccionada"
          - if current_user.is?(:vendedor) || current_user.is?(:facturacion) || ((current_user.is?(:costo) || current_user.is?(:analista)) && f.object.sent_to_cost?)
            %th="Precio Unitario"
          - if (current_user.is?(:costo) || current_user.is?(:analista)) && f.object.sent_to_cost?
            %th="Total"
      %tbody
        = f.simple_fields_for :quote_details do |qd|
          - if current_user.is?(:vendedor) || (!current_user.is?(:vendedor) && qd.object.op_quantity.to_i > 0)
            %tr
              %td
                = qd.object.specificationes
              %td
                = qd.object.description
              %td
                = qd.object.quantity                          
              %td                          
                %div.hidden
                  = qd.object.price
                = qd.input :op_quantity, required: true, as: :numeric, input_html: {class:"quantity error", readonly: ((current_user.is?(:costo) || current_user.is?(:analista)) && !f.object.sent_to_cost?)}, label:false
                = qd.error_notification message: "La cantidad de la orden de produccion no puede ser mayor a la cotizada"
              - if current_user.is?(:vendedor) || current_user.is?(:facturacion)
                %td.table-total
                  = number_to_currency qd.object.price
              - if (current_user.is?(:costo) || current_user.is?(:analista)) && f.object.sent_to_cost?
                %td.table-total
                  = qd.input :price, required: true, as: :numeric, input_html: {class: "price" }, label:false
                %td.table-total
                  = number_to_currency((qd.object.op_quantity * qd.object.price).to_i) if qd.object.op_quantity && qd.object.price
      %thead
        - if current_user.is?(:vendedor) || current_user.is?(:facturacion)
          %tr
            %td
            %td
            %td
            %td
              Total
            %td.table-total-general
              = number_to_currency f.object.quote_details.inject(0){|sum,x| sum + (x.price * x.op_quantity) }
