%div.span12
  %div.well  
    %table.table.table-condensed.table-striped#tabla_productos
      %thead
        %tr
          %th="Producto"  
          %th="Descripcion"  
          %th="Cantidad Solicitada"
          %th="Cantidad Seleccionada"
          - if current_user.is?(:vendedor) || current_user.is?(:facturacion) || current_user.is?(:produccion)          
            %th="Precio Unitario"
      %tbody
        = f.simple_fields_for :quote_details do |qd|
          %tr
            %td
              = qd.object.specificationes
            %td
              = qd.object.description
            %td
              = qd.object.quantity                          
            %td                          
              = qd.input :op_quantity, required: true, as: :numeric, input_html: {class:"quantity error", readonly: current_user.is?(:costo)}, label:false
              = qd.error_notification message: "La cantidad de la orden de produccion no puede ser mayor a la cotizada"
            - if current_user.is?(:vendedor) || current_user.is?(:facturacion)
              %td
                = number_to_currency qd.object.price
