%div.span12
  %div.row-fluid
    .span6
      = f.input :number, required: true, input_html: {maxlength: 255, class: 'width-order', readonly: true}, label: "Número"
    .span6
      = f.input :date_elaboration, refquired: true, :as => :date_picker, input_html: { class: 'span12', readonly: current_user.is?(:costo)}, label: "F. de Elaboración"
  %div.row-fluid  
    .span6
      = f.input :time_order, required: true, :as => :time_picker, input_html: { readonly: current_user.is?(:costo)}, label: "Hora"
    .span6  
      = f.input :actual_delivey_date, required: true, :as => :date_picker, input_html: { class: 'span12', readonly: current_user.is?(:costo)}, label: "F. Real de Entrega"
  %hr
    = f.input :quote_id, as: :hidden, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Cotización"    
  %div.row-fluid   
    .span6  
      = f.input :comission, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Comisión" 
    .span6
      = f.input :client_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Agencia/Cliente"
  %div.row-fluid
    .span6
      = f.input :nit_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "RUT/NIT"
    .span6
      = f.input :phone_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Teléfono"
  %div.row-fluid 
    .span6
      = f.input :way_pay, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Forma de Pago"   
    .span6  
      = f.input :adviser_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Asesor"
  %div.row-fluid 
    .span6
      = f.input :reference, as: :text, required: false, input_html: {maxlength: 255, class: 'span10', rows: 3, readonly: true}, label: "Referencia" 
    .span6
      = f.input :address_client, as: :text, input_html: {maxlength: 255, rows: 3, class: 'span10', readonly: true}, label: "Dirección" 
      
  %hr
  %div.row-fluid
    .span6
      = f.input :number_photos, required: true, input_html: {maxlength: 255, class: 'span10', type: 'text', readonly: current_user.is?(:costo)}, label: "No. Fotos"
    .span6  
      = f.input :remission, input_html: {maxlength: 255, class: 'span10', readonly: current_user.is?(:costo)}, label: "Remisión"
  %hr
  %div.row-fluid  
    .span6  
      = f.input :code_fence, required: true, input_html: {maxlength: 255, class: 'span10', readonly: current_user.is?(:costo)}, label: "Código Valla"
    .span6  
      = f.input :sale_cc, required: false, input_html: {maxlength: 255, class: 'span10', readonly: current_user.is?(:costo)}, label: "Venta C.C."
  %div.row-fluid
    .span6  
      = f.input :service_cc, required: false, input_html: {maxlength: 255, class: 'span10', readonly: current_user.is?(:costo)}, label: "Servicio C.C."  
    .span6  
      = f.input :lease_cc, required: false, input_html: {maxlength: 255, class: 'span10', readonly: current_user.is?(:costo)}, label: "Arrendamiento C.C."
  / %hr
  / %div.row-fluid
  /   .span6
  /     = f.label  :"lámina  .", :title, "Lámina  .", :class => "space-label-rigth"
  /     = f.select :sheet, options_for_select(["22", "24", "26"], ["#{f.object.try(:sheet)}"]), input_html: {id: "sheet", style: 'width-select' } 
  /   .span6  
  /     = f.input :angle, required: false, input_html: {maxlength: 255, class: 'span10', type: 'text'}, label: "Ángulo"
  / %div.row-fluid
  /   %div.span2.margin-left-check 
  /     = label_tag :lighting, "Iluminación", input_html: {style: 'display:none'}
  /   .span4.radio-inline-selector
  /     = "Si"
  /     = f.radio_button :lighting, true, input_html: {class: 'span5'}
  /     = "No"
  /     = f.radio_button :lighting, false, input_html: {class: 'span5'}, label: "No"
      
  / %div.row-fluid
  /   .span6  
  /     = f.input :quantity, required: false, input_html: {maxlength: 255, class: 'span10', type: 'text'}, label: "Cantidad"  
  /   - if current_user.is?(:vendedor) || current_user.is?(:produccion) || current_user.is?(:facturacion)
  /     .span6  
  /       = f.input :unit_value, required: false, input_html: {maxlength: 255, class: 'span10', type: 'text'}, label: "Valor Unitario"
  %hr
  %div.row-fluid
    .span6  
      = f.input :site_installation, required: true, :as => :text, input_html: {maxlength: 255, row:2, class: 'span10', readonly: current_user.is?(:costo)}, label: "Sitio de Instalación"  
    .span6  
      = f.input :address, required: true, :as => :text, input_html: {maxlength: 255, row:2, class: 'span10', readonly: current_user.is?(:costo)}, label: "Dirección" 
  %div.row-fluid
    .span6  
      = f.input :ask_for, required: true, input_html: {maxlength: 255, class: 'span10', readonly: current_user.is?(:costo)}, label: "Preguntar por"  
    .span6  
      = f.input :phone, required: true, input_html: {maxlength: 255, class: 'span10', readonly: current_user.is?(:costo)}, label: "Teléfono" 
.clearfix
%hr
%div.span12
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Especificaciones"
      .widget-body 
        %div.row-fluid
          .span6  
          .span6  
            - if current_user.is?(:ventas) || current_user.is?(:facturacion) || current_user.is?(:produccion)
              = f.input :total_amount, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: number_to_currency(f.object.total_amount, locale: "COP")}, label: "Precio Unitario"
        %div#especificaciones{:style=>"height: 350px"}
          = render "form_fields_detail_products", po: f.object, f: f
          .span12    
            = f.input :specifications, required: true, :as => :text, input_html: {row:100, class: 'width-order-large', style:"margin: 0px 0px 2px; height: 150px; width:641px", readonly: current_user.is?(:costo)}, label: "Agregue las Especificaciones" 
%div.span12
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.edit
          %i
          = "Adiciones y Observaciones"
      .widget-body 
      %div#observaciones{:style=>"height: 400px"}
        .span12  
          = f.input :addition, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: current_user.is?(:costo)}, label: "Adiciones"  
          = f.input :cost_observations, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: current_user.is?(:costo)}, label: "Observaciones de Costos"
          = f.input :production_observations, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: current_user.is?(:costo)}, label: "Observaciones de Producción"
          = f.input :overcost, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: current_user.is?(:costo)}, label: "Sobrecostos"
          = f.input :sketch, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: current_user.is?(:costo)}, label: "Bocetos"
          = f.input :contractor, :as => :string, input_html: {class: 'width-order-large', readonly: current_user.is?(:costo)}, label: "Contratista"

= render 'quotes/form_fields_anexos_edit', :f => f

= render 'production_order_anexe', :f => f
