%div.span12
  %div.well  
    %table.table.table-condensed.table-striped#tabla_productos
      %thead
        %tr
          %th="Producto"  
          %th="Descripcion"  
          %th="Cantidad Solicitada"
          %th="Cantidad Seleccionada"
      %tbody
        = f.simple_fields_for :quote_details do |qd|
          - if qd.object.op_quantity.to_i > 0
            %tr
              %td
                = qd.object.specificationes
              %td
                = qd.object.description
              %td
                = qd.object.quantity                          
              %td                          
                = qd.object.op_quantity
