%div.span12
  %div.row-fluid
    .span6
      = f.input :number, required: true, input_html: {maxlength: 255, class: 'width-order', readonly: true}, label: "Número"
    .span6
      - if current_user.is?(:produccion)
        = f.association :administrador, collection: @coordinadores.map{ |c| [c.name, c.id] }, input_html: { id: "administrador_id",class: 'span10 field-select' }, label: "Coordinador"
  %div.row-fluid  
    .span6
      = f.input :date_elaboration, refquired: true, :as => :date_picker, input_html: { class: 'span12', readonly: true}, label: "F. de Elaboración"
  %div.row-fluid  
    .span6
      = f.input :actual_delivey_date, required: true, :as => :date_picker, input_html: { class: 'span12', readonly: true}, label: "F. Real de Entrega"
  %hr
    = f.input :quote_id, as: :hidden, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Cotización"    
  %div.row-fluid   
    .span6  
      = f.input :comission, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Comisión" 
    .span6
      = f.input :client_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Agencia/Cliente"
  %div.row-fluid
    .span6
      = f.input :nit_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "RUT/NIT"
    .span6
      = f.input :phone_client, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Teléfono"
  %div.row-fluid 
    .span6
      = f.input :way_pay, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Forma de Pago"   
    .span6  
      = f.input :adviser_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Asesor"
  %div.row-fluid 
    .span6
      = f.input :reference, as: :text, required: false, input_html: {maxlength: 255, class: 'span10', rows: 3, readonly: true}, label: "Referencia" 
    .span6
      = f.input :address_client, as: :text, input_html: {maxlength: 255, rows: 3, class: 'span10', readonly: true}, label: "Dirección" 
      
  %hr
  %div.row-fluid
    .span6
      = f.input :number_photos, required: true, input_html: {maxlength: 255, class: 'span10', type: 'text', readonly: true}, label: "No. Fotos"
    .span6  
      = f.input :remission, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Remisión"
  %hr
  %div.row-fluid  
    .span6  
      = f.input :code_fence, required: true, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Código Valla"
    .span6  
      = f.input :sale_cc, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Venta C.C."
  %div.row-fluid
    .span6  
      = f.input :service_cc, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Servicio C.C."  
    .span6  
      = f.input :lease_cc, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Arrendamiento C.C."
  %hr
  %div.row-fluid
    .span6  
      = f.input :site_installation, required: true, :as => :text, input_html: {maxlength: 255, row:2, class: 'span10', readonly: true}, label: "Sitio de Instalación"  
    .span6  
      = f.input :address, required: true, :as => :text, input_html: {maxlength: 255, row:2, class: 'span10', readonly: true}, label: "Dirección" 
  %div.row-fluid
    .span6  
      = f.input :ask_for, required: true, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Preguntar por"  
    .span6  
      = f.input :phone, required: true, input_html: {maxlength: 255, class: 'span10', readonly: true}, label: "Teléfono" 
.clearfix
%hr
%div.span12
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Especificaciones"
      .widget-body 
        %div.row-fluid
          .span6  
          .span6  
            - if current_user.is?(:ventas) || current_user.is?(:facturacion) || current_user.is?(:produccion)
              = f.input :total_amount, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: number_to_currency(f.object.total_amount, locale: "COP")}, label: "Precio Unitario"
        %div#especificaciones{:style=>"height: 350px"}
          = render "form_fields_detail_products_for_departaments", po: f.object, f: f
          .span12    
            = f.input :specifications, required: true, :as => :text, input_html: {row:100, class: 'width-order-large', style:"margin: 0px 0px 2px; height: 150px; width:641px", readonly: true}, label: "Agregue las Especificaciones" 
%div.span12
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.edit
          %i
          = "Adiciones y Observaciones"
      .widget-body 
      %div#observaciones{:style=>"height: 70px"}
        .span12  
          / = f.input :addition, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: true}, label: "Adiciones"  
          / = f.input :cost_observations, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: true}, label: "Observaciones de Costos"
          = f.input :production_observations, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: true}, label: "Observaciones de Producción"
          / = f.input :overcost, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: true}, label: "Sobrecostos"
          / = f.input :sketch, :as => :text, input_html: {row:20, class: 'width-order-large', readonly: true}, label: "Bocetos"
          / = f.input :contractor, :as => :string, input_html: {class: 'width-order-large', readonly: true}, label: "Contratista"

= render 'quotes/form_fields_anexos_edit', :f => f
- if true && f.object.sent_to_cost?
  = render 'production_order_anexe', :f => f
- else
  = render 'anexos_list', :f => f
  
- if current_user.is?(:produccion) || current_user.is?(:coordinador_produccion)
  = render 'production_order_ending_form_production', :f => f

- if current_user.is?(:inventario) && f.object.end?
  = render 'production_order_ending_form_inventario', :f => f

- if current_user.is?(:almacen) && f.object.end?
  = render 'production_order_ending_form_almacen', :f => f

- if current_user.is?(:maquina) && f.object.end?
  = render 'production_order_ending_form_maquina', :f => f

:javascript
  $(document).ready(function() {
    $(".field-select").select2({
      placeholder: "Seleccione",
      allowClear: true
    });
  });