%table.table.table-condensed.table-striped#tableorders
  %thead
    %tr
      %th="Número de Cotización"  
      %th="Cliente/Agencia"
      %th="Aprobación"
      %th="Referencia"
      %th="Agencia"
      %th="Estatus"
      %th=""
      %th="Acciones"
  %tbody
    - @production_orders.each do |p|
      %tr
        %td= p.quote.try(:number)
        %td= p.quote.try(:client).try(:name)
        %td= HistoryOrderProductionStatus.sent_date(p.id)
        %td= p.quote.try(:reference)
        %td= p.quote.try(:agency).try(:name)
        %td
          %span.label.label-success= p.order_status          
        %td
          = render 'status_changes', :po => p
        %td
          - if current_user.is?(:vendedor) && (p.elaborated?)
            =link_to(content_tag(:span, "", :class => "icon-pencil", :title => "Editar Orden de Producción"), edit_production_order_path(p))
          -if p.sent_to_cost? || can?(:read, WorkOrder)
            =link_to(content_tag(:span, "", :class => "icon-list-alt", :title => "Ir a Ordenes de Trabajo"), work_orders_path(:production_order_id => p))
          - if can?(:read, ProductionOrderBinnacle) && (p.sent_to_production? || p.sent_to_billing? || p.billed?)
            =link_to(content_tag(:span, "", :class => "icon-eye-open", :title => "Ir a Bitácora"), production_order_production_order_binnacles_path(p))
          - unless p.sent_to_production?
            - if (current_user.is?(:vendedor) || current_user.is?(:costo))
              / = link_to(production_order_path(p), method: :delete, class: 'pjax', title: 'Eliminar Orden de Producción', data: {confirm: '¿Desea eliminar la orden?'}){ content_tag(:i, '', class:"icon-remove") }
          - if current_user.is?(:produccion)
            - if p.remissions.any? 
              - if p.remissions.count == 1 
                =link_to(content_tag(:span, "", :class => "icon-briefcase", :title => "Ir a Remisión"), edit_remission_path(p.remissions.first, :production_order_id => p))
              -else
                =link_to(content_tag(:span, "", :class => "icon-briefcase", :title => "Ir a Remisiones"), remissions_path(:production_order_id => p))
            - else
              =link_to(content_tag(:span, "", :class => "icon-briefcase", :title => "Crear Remisión"), new_remission_path(:production_order_id => p))
            - if p.bills.any? 
              - if p.bills.count == 1 
                =link_to(content_tag(:span, "", :class => "icon-shopping-cart", :title => "Editar Facturación"), edit_bill_path(p.bills.first, :production_order_id =>p))
              -else
                =link_to(content_tag(:span, "", :class => "icon-shopping-cart", :title => "Ir a Facturación"), bills_path(:production_order_id =>p))
            - else
              =link_to(content_tag(:span, "", :class => "icon-shopping-cart", :title => "Crear Facturación"), new_bill_path(:production_order_id =>p))
          = link_to(image_tag("pdf-icon.png"), production_order_path(p, format: :pdf), target: "_blank")






