%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Información para el Cierre"
      .widget-body               
        %div
          .production_order_ending
            %div.row-fluid  
              .span6
                = f.label  :"Razón de Atraso.", :title, "Razón de Atraso.", :class => "space-label-rigth"
                = f.select :reason, options_for_select([["Seleccione",""],["Sin Retraso"], ["Material"], ["Maquina Dañada"], ["Herramienta Dañada"], ["Otro"]], f.object.try(:reason)), input_html: {class: 'span10 width-select' }, label: "Razón de Atraso"
              .span6  
                = f.input :another_reason, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Detalle Atraso"
