%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Información para el Cierre - Almacen"
      .widget-body               
        %div
          .production_order_ending
            %div.row-fluid  
              .span6
                = f.input :warehouse_aditional_material, input_html: {class: 'span10'}, label: "¿Materiales Adicionales?"
              .span6
                = f.input :warehouse_aditional_material_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Comentario de Materiales Adicionales"

            %div.row-fluid  
              .span6
                = f.input :warehouse_material_changed, input_html: {class: 'span10'}, label: "¿Materiales Cambiados?"
              .span6
                = f.input :warehouse_material_changed_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Comentario de Cambio de Materiales"
