.nested-fields.well  
  .row-fluid
    .span11
      .nested-fields
        .field
          = f.file_field :anexo, :class=>'file', :id=>'file-es', 'data-preview-file-type' => "any", 'data-button-text' => "Seleccionar Archivo"
        - unless f.object.new_record?
          .span12.margin-left-anexe
          =link_to f.object.anexo_file_name , f.object.anexo.url
          %br
          = link_to_remove_association "Eliminar", f
      %br
