%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Información para el Cierre - Inventario"
      .widget-body               
        %div
          .production_order_ending
            %div.row-fluid  
              .span6
                = f.input :inventory_elements_out, input_html: {class: 'span10'}, label: "¿Salida de Elementos?"
              .span6
                = f.input :inventory_elements_out_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Comentario de Salida de Elementos"

            %div.row-fluid  
              .span6
                = f.input :inventory_elements_in, input_html: {class: 'span10'}, label: "¿Entrada de Elementos?"
              .span6
                = f.input :inventory_elements_in_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Comentario de Entrada de Elementos"

            %div.row-fluid  
              .span6
                = f.input :inventory_material_destruction, input_html: {class: 'span10'}, label: "¿Entrada de Elementos?"
              .span6
                = f.input :inventory_material_destruction_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Comentario de Entrada de Elementos"
            %div.row-fluid  
              .span6
                = f.input :inventory_material_destruction_attachment, input_html: {class: 'span10'}, label: "Adjuntar Archivo"

