%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Anexos y Fotos"
      .widget-body               
        %div
          .production_order_anexes
            = f.simple_fields_for :production_order_anexes do |o|
              = render 'production_order_anexe_fields', :f => o 
            .links
              = link_to_add_association(f, :production_order_anexes,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Anexo' }
