%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          - if current_user.is?(:costo) || current_user.is?(:analista) || current_user.is?(:almacen)
            = "Hoja de Calculo, Anexos y Fotos"
          - else
            = "Anexos y Fotos"
      .widget-body
        - if current_user.is?(:costo) || current_user.is?(:analista) || current_user.is?(:almacen)
          %div
            .form-group.quotes_anexes.production_order_anexes
              = f.label "Hoja de Cálculo: "
              - if (current_user.is?(:costo) || current_user.is?(:analista))
                = f.file_field :spreadsheet, :class=>'file', 'data-preview-file-type' => "any"
              - if (f.object.spreadsheet_content_type)
                =link_to f.object.spreadsheet_file_name, f.object.spreadsheet.url 

        %div
          .production_order_anexes
            = f.simple_fields_for :production_order_anexes do |o|
              = render 'production_order_anexe_fields', :f => o 
            .links
              = link_to_add_association(f, :production_order_anexes,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Anexo' }
