%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Información para el Cierre - Maquina"
      .widget-body               
        %div
          .production_order_ending
            %div.row-fluid  
              .span6
                = f.input :machine_aditional_material, input_html: {class: 'span10'}, label: "¿Materiales Adicionales?"
              .span6
                = f.input :machine_aditional_material_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Comentarios sobre los Materiales Adicionales"

            %div.row-fluid  
              .span6
                = f.input :machine_material_changed, input_html: {class: 'span10'}, label: "¿Materiales Cambiados?"
              .span6
                = f.input :machine_material_changed_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Comentario de Materiales Cambiados"

            %div.row-fluid  
              .span6
                = f.input :machine_machine_changed, input_html: {class: 'span10'}, label: "¿Problemas con Impresión?"
              .span6
                = f.input :machine_machine_changed_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Detalle de los problemas de Impresión"

            %div.row-fluid  
              .span6
                = f.input :machine_art, input_html: {class: 'span10'}, label: "¿Problemas con el Arte?"
              .span6
                = f.input :machine_art_comment, as: :text, input_html: {maxlength: 255, class: 'span10'}, label: "Detalle del problema con el Arte"
