- if @quotes.any?
  %table.table.table-condensed.table-striped#tablequoteorder
    %thead
      %tr
        %th="Número de Cotización"  
        %th="Cliente/Agencia"  
        %th="Fecha de Aprobación"
        %th="Referencia"
        %th="Acciones"
    %tbody
      - @quotes.each do |p|
        %tr
          %td= p.number
          %td= p.try(:client).try(:name)
          %td= StatusQuote.aproved_date(p.id).nil? ? "-" : StatusQuote.aproved_date(p.id)
          %td= p.reference
          %td 
            - if p.production_orders.any?
              =link_to(content_tag(:span, "", :class => "icon-pencil"), edit_production_order_path(p.production_orders.first.try(:id)))
            - else
              =link_to(content_tag(:span, "", :class => "icon-plus"), new_production_order_path(:quote_id => p))
