- if @type == "active"
  -if (po.end?) && (!po.inventory_closed? || !po.warehouse_closed? || !po.machine_closed?) && action_name=="index"
    %span.label.label-info= "En Revisión Por Departamentos"
    %br
    - if po.inventory_closed? 
      %span.label.label-success= "Inventario"
    - if po.warehouse_closed? 
      %span.label.label-success= "Almacen"
    - if po.machine_closed?
      %span.label.label-success= "Maquina"
    %div{style: "margin-bottom: 4px"}
  -if po.elaborated? && current_user.is?(:vendedor)
    = link_to(sent_to_cost_production_order_path(po), data: {confirm: '¿Desea enviar a Costos?'},  class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Enviar a Costo"
  -if po.sent_to_cost? && (current_user.is?(:analista) || current_user.is?(:costo))
    = link_to(sent_to_production_production_order_path(po), data: {confirm: '¿Desea enviar a Producción?'},  class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Enviar a Producción"

  -if po.sent_to_billing? && current_user.is?(:facturacion)
    = link_to(billed_production_order_path(po), data: {confirm: '¿Desea marcar como facturado?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Facturado"
  -if (po.sent_to_production?) && (current_user.is?(:produccion) || current_user.is?(:coordinador_produccion))
    - if po.can_end?
      = link_to(ended_production_order_path(po), data: {confirm: '¿Desea terminar la orden de producción?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
        - content_tag(:i, '') + "Finalizar Orden"
    - else
      = link_to("#", onClick: "javascript:alert('Debe agregar la información para el cierre')", class: 'btn btn-icon btn-primary glyphicons circle_ok') do
        - content_tag(:i, '') + "Finalizar Orden"
  - if (current_user.is?(:produccion) || current_user.is?(:coordinador_produccion)) && po.sent_to_production?
    = link_to(sent_to_cost_by_price_adjustment_production_order_path(po), class: 'btn btn-icon btn-primary glyphicons circle_ok', confirm: '¿Desea enviarlo a Costo?') do
      - content_tag(:i, '') + "Enviar a Costo por ajuste de precios"

  -if po.end? && po.inventory_closed? && po.warehouse_closed? && po.machine_closed? && (current_user.is?(:produccion) || current_user.is?(:coordinador_produccion))
    = link_to(billing_production_order_path(po), data: {confirm: '¿Desea enviar la orden a facturación?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
      - content_tag(:i, '') + "Enviar a Facturación"


  -if po.end? && current_user.is?(:inventario)
    - unless po.inventory_closed?
      - if po.can_inventory_end?
        = link_to(ended_inventory_production_order_path(po), data: {confirm: '¿Desea Finalizar la orden de producción?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          - content_tag(:i, '') + "Finalizar Orden"
      - else
        = link_to("#", onClick: "javascript:alert('Debe agregar la información para el cierre')", class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          - content_tag(:i, '') + "Finalizar Orden"  

  -if po.end? && current_user.is?(:almacen)
    - unless po.warehouse_closed?
      - if po.can_warehouse_end?
        = link_to(ended_warehouse_production_order_path(po), data: {confirm: '¿Desea Finalizar la orden de producción?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          - content_tag(:i, '') + "Finalizar Orden"
      - else
        = link_to("#", onClick: "javascript:alert('Debe agregar la información para el cierre')", class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          - content_tag(:i, '') + "Finalizar Orden"  

  -if po.end? && current_user.is?(:maquina)
    - unless po.machine_closed?
      - if po.can_machine_end?
        = link_to(ended_machine_production_order_path(po), data: {confirm: '¿Desea Finalizar la orden de producción?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          - content_tag(:i, '') + "Finalizar Orden"
      - else
        = link_to("#", onClick: "javascript:alert('Debe agregar la información para el cierre')", class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          - content_tag(:i, '') + "Finalizar Orden"  
