%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(production_orders_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link
          = link_to(quotes_lists_production_orders_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
        - if can? :read, ProductionOrderBinnacle
          %li.icon.new_collection_link
            = link_to(production_order_production_order_binnacles_path(@production_order), class: 'pjax'){ content_tag(:i, '', class:"icon-eye-open") + content_tag(:span, ' Bitácora') }
    %div.widget-body
      %h3="Editar Orden"
      %hr
      %div.tab-content
        = simple_form_for(@production_order) do |f|
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span12
              %div.row-fluid
                - if current_user.is?(:inventario) || current_user.is?(:almacen) || current_user.is?(:maquina)
                  = render 'form_fields_for_departaments', :f => f
                - else
                  = render 'form_fields', :f => f
          %br
          - if ((current_user.is?(:vendedor) && (@production_order.elaborated? || @production_order.review?)) || (current_user.is?(:costo) && @production_order.sent_to_cost?) || (current_user.is?(:produccion) && (@production_order.elaborated? || @production_order.sent_to_production?)) || (@production_order.end? && (current_user.is?(:inventario) || current_user.is?(:almacen) || current_user.is?(:maquina))) )
            = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
              - content_tag(:i, '') + "Guardar"
          / -if (@production_order.sent_to_production?) && (current_user.is?(:produccion) || current_user.is?(:coordinador_produccion))
          /   = link_to(sent_to_production_production_order_path(@production_order), data: {confirm: '¿Desea enviar la orden a los departamentos?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          /     - content_tag(:i, '') + "Enviar a Departamentos"              
          / - if (current_user.is?(:produccion) || current_user.is?(:coordinador_produccion)) && @production_order.sent_to_production?
          /   = link_to(sent_to_cost_by_price_adjustment_production_order_path(@production_order), class: 'btn btn-icon btn-primary glyphicons circle_ok', confirm: '¿Desea enviarlo a Costo?') do
          /     - content_tag(:i, '') + "Enviar a Costo por ajuste de precios"
          / -if @production_order.sent_to_cost? && can?(:sent, @production_order)
          /   = link_to(work_orders_path(:production_order_id => @production_order), class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          /     - content_tag(:i, '') + "Ordenes de Trabajo"
          / -if (@production_order.sent_to_production?) && (current_user.is?(:produccion) || current_user.is?(:coordinador_produccion))
          /   - if @production_order.can_end?
          /     = link_to(ended_production_order_path(@production_order), data: {confirm: '¿Desea terminar la orden de producción?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          /       - content_tag(:i, '') + "Finalizar Orden"
          /   - else
          /     = link_to("#", onClick: "javascript:alert('Debe agregar la información para el cierre')", class: 'btn btn-icon btn-primary glyphicons circle_ok') do
          /       - content_tag(:i, '') + "Finalizar Orden"  
          = link_to(production_orders_path , class: 'btn btn-icon btn-default glyphicons circle_remove pull-right') do
            - content_tag(:i, '') + "Cancelar"
          %br
          = render 'status_changes', :po => @production_order

:javascript
  $(document).ready(function() {
    $(".field-select").select2({
      placeholder: "Seleccione",
      allowClear: true
    });
  });

  $('#production_order_quote_id').change(function(){ 
      if($(this).val())         {  
        $.get('/quotes/'+$(this).val()+'/details.json',
          function(data) {                                       
            $("#production_order_client_name").val(data.client_name);                               
            $("#production_order_phone_client").val(data.client_phone);
            $("#production_order_adviser_name").val(data.adviser_name);
            $("#production_order_comission").val(data.commission_quote);
            $("#production_order_nit_client").val(data.client_nit);
            $("#production_order_address_client").val(data.client_address);
            $("#production_order_reference").val(data.quote_reference);
          });
        }
  });
