%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(production_orders_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(quotes_lists_production_orders_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3
        - if @type == "active"
          = t('layouts.shared.sidebar_administrador.list_orders')
        - else
          = t('layouts.shared.sidebar_administrador.list_new_orders')

      %hr
      %div.tab-content
        %div.list
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filter'
          = flash_messages
          - if (current_user.is?(:vendedor) && @type == "new")
            = render 'list_sale_man'
          - elsif (current_user.is?(:vendedor) && @type == "active")
            = render 'list_sale_man_active'
          - elsif current_user.is?(:costo) || current_user.is?(:analista)
            = render 'list_cost'
          - elsif (current_user.is?(:produccion) && @type == "active") || (current_user.is?(:coordinador_produccion))
            = render 'list_production'
          - elsif (current_user.is?(:produccion) && @type == "new")
            = render 'list_production_new'
          - else
            = render 'list'



    


= content_for :bottom_ls do
  = javascript_include_tag "production_orders"

:javascript
  $(document).ready(function() {
    $('#tableorders').DataTable({
        "ordering": false,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No hay registros encontrados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros activos",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sSearch":        "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":    "Último",
              "sNext":    "Siguiente",
              "sPrevious": "Anterior"
            }
        }
    });
    $("#search_client, #search_adviser, #search_quote, #search_remission, #search_number, #search_contract_number").select2({
      allowClear: true
    });
  });



  