%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(production_orders_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link.active
          = link_to(quotes_lists_production_orders_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3
        = t('layouts.shared.sidebar_administrador.production_order') + " - Seleccione la Cotización"
      %hr
      %div.tab-content
        %div.list
          = flash_messages
          = render 'quote_list'                  
      .clearfix.total-count= pluralize(@quotes.size, 'orden')


    

  