%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        - if can? :read, ProductionOrderBinnacle
          %li.icon.new_collection_link
            = link_to(production_order_production_order_binnacles_path(@production_order), class: 'pjax'){ content_tag(:i, '', class:"icon-eye-open") + content_tag(:span, ' Volver') }
    %div.widget-body
      %h3="Editar Orden"
      %hr
      %div.tab-content
        = simple_form_for(@production_order) do |f|
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span12
              %div.row-fluid
                = render 'form_fields', :f => f
          %br
          = link_to(production_orders_path , class: 'btn btn-icon btn-default glyphicons circle_remove pull-right') do
            - content_tag(:i, '') + "Cancelar"
          %br


    
      
 

