%h3 Orden de Producción
.innerLR.shop-client-products.cart.invoice
  %table.table.table-invoice
    %tbody
      %tr
        %td{:style => "width: 58%;"}
          .media
            = wicked_pdf_image_tag 'logo_vallas.png', class: "media-object pull-left ", alt: "Logo", style: "width: 50%;"
            .media-body.hidden-print
              .alert.alert-primary
                %strong Estatus de la Orden de Producción:
                %br/
                = @production_order.order_status
              .separator.bottom
        %td.right
          .innerL
            %h4
              No. de Orden: #  #{@production_order.id.to_s.rjust(6, '0')} 
              %br/
              Fecha de Elaboración: #{@production_order.date_elaboration.strftime("%d-%m-%Y") if @production_order.date_elaboration} 
              %br/
              Hora: #{@production_order.time_order.strftime("%H:%M:%S") if @production_order.time_order} 
              %br/
              Fecha Real de Entrega: #{@production_order.actual_delivey_date.strftime("%d-%m-%Y") if @production_order.actual_delivey_date} 
  .separator.bottom
  .well.margin-none
    %table.table.table-invoice
      %tbody
        %tr
          %td{:style => "width: 50%;"}
            %p.lead Información de Cliente/Agencia
            %h2
              = @production_order.quote.try(:client).try(:name)
              \.
            %address.margin-none
              %strong
                Comision : #{@production_order.quote.try(:commission_quote)} %
              %br/
              = @production_order.quote.try(:client).try(:address)
              %br/
              %abbr{:title => "Work email"} e-mail:
              = @production_order.quote.try(:client).try(:email)
              %br/
              %abbr{:title => "Work Phone"} Telefono:
              = @production_order.quote.try(:client).try(:phone)
              %br/
          %td.right
            %p.lead Informacion del Contacto
            %h2= @production_order.quote.try(:client).try(:contact)
            %address.margin-none
              %strong Cargo:
              %strong= @production_order.quote.try(:client).try(:office)
              %br/
              .separator.line
              %p.margin-none
                %strong Forma de Entrega:
                %br/
                = @production_order.quote.try(:form_delivery)
                \.
              %p.margin-none
                %strong Forma de Pago:
                %br/
                = @production_order.quote.try(:method_payment)
                \.
  .separator.bottom
  .well.margin-none
    %table.table.table-invoice
      %tbody
        %tr
          %td{:style => "width: 50%;"}
            %p.lead Datos de la Orden de Producción
            %address.margin-none
              %strong Número de Fotos:
              = @production_order.try(:number_photos)
              %br/
              %strong Código de Valla:
              = @production_order.try(:code_fence)
              %br/
              %strong Servicio C.C.:
              = @production_order.try(:service_cc)
              %br/
              %strong Sitio de Instalación:
              = @production_order.try(:site_installation)
              %br/
              %strong Preguntar Por:
              = @production_order.try(:ask_for)
              %br/
          %td.right
            %p.lead
            %br/ 
            %address.margin-none
              %strong Remissión:
              = @production_order.try(:remission)
              %br/
              %strong Venta C.C.:
              = @production_order.try(:sale_cc)
              \.
              %br/
              %strong Arrendamiento C.C.:
              = @production_order.try(:lease_cc)
              \.
              %br/
              %strong Dirección:
              %br/
              = @production_order.try(:address)
              \.
              %br/
              %strong Teléfono:
              = @production_order.try(:phone)
              \.
  .separator.bottom
  %table.table.table-bordered.table-primary.table-striped.table-vertical-center
    %thead
      %tr
        %th="Producto"  
        %th="Descripcion"  
        %th="Cantidad"
        - if current_user.is?(:vendedor) || current_user.is?(:facturacion) || current_user.is?(:produccion) 
          %th="Precio Unitario"
    %tbody
      - total = 0
      - @production_order.quote_details.each do |qd|
        %tr
          %td
            = qd.specificationes
          %td
            = qd.description
          %td
            = qd.quantity    
          - if current_user.is?(:vendedor) || current_user.is?(:facturacion) || current_user.is?(:produccion)
            %td.right.table-total
              = number_to_currency qd.price
      - if current_user.is?(:vendedor) || current_user.is?(:facturacion) || current_user.is?(:produccion)
        %tr
          %td
          %td
          %td
            Total
          %td.right.table-total
            = number_to_currency @production_order.quote_details.inject(0){|sum,x| sum + (x.price * x.quantity) }
  .separator.bottom
  / Row
  .row-fluid
    / Column
    .span5
      .box-generic
        %p.margin-none
          %strong Rerefencia:
          %br/
          = @production_order.try(:specifications)
          \.
  / Column END
  .separator.bottom
  .well.margin-none
    %table.table.table-invoice
      %tbody
        %tr
          %td{:style => "width: 50%;"}
            %p.lead Adiciones y Observaciones
            %address.margin-none
              %strong Adiciones:
              %br/
              = @production_order.try(:addition)
              %br/
              %strong Observaciones de Costos:
              %br/
              = @production_order.try(:cost_observations)
              %br/
              %strong Observaciones de Producción:
              %br/
              = @production_order.try(:production_observations)
              %br/
              %strong Sobrecostos:
              %br/
              = @production_order.try(:overcost)
              %br/
              %strong Bocetos:
              %br/
              = @production_order.try(:sketch)
              %br/
              %strong Contratista:
              %br/
              = @production_order.try(:contractor)
  .separator.bottom
  / // Row END
  %h3 Seguimiento de la Orden de Producción
  %table.table.table-bordered.table-primary.table-striped.table-vertical-center
    %thead
      %tr
        %th.center{:style => "width: 1%;"} No.
        %th Descripción
        %th{:style => "width: 210px;"} Usuario
        %th{:style => "width: 80px;"} Fecha
        %th{:style => "width: 80px;"} Hora
    %tbody
      - @production_order.production_order_binnacles.each do |c|
        / Cart item
        %tr
          %td.center= c.try(:id).to_s.rjust(5,"0")
          %td
            %h5
              = c.try(:description)
          %td
            %h5
              = c.try(:administrador).try(:nombre) 
          %td.right.strong= c.try(:updated_at).strftime("%m/%d/%Y")   
          %td.right.strong= c.try(:updated_at).strftime("%I:%M%p")  
        / // Cart item END
        / Cart item


 
             



    
      
 

