<div class="container">
	<div class="wrapper">    

    <h1 class="glyphicons lock">Inicio de sesión <i></i></h1>   

    <div class="widget">
      
			<div class="widget-head">
				<h3 class="heading">Ingresar al sistema</h3>
				<div class="pull-right"> 
          
				</div>
			</div>
      
      <div class="widget-body">

      <h1 class="heading" style="padding-bottom: 0px;">SATSPE <span>(v1.0)</span></h1>
      <h1  style="font-size: x-large; margin-top: -15px;"><span>Sistema Automatizado para toma y Seguimiento de Pedidos</span></h1>
      <%= image_tag "logo_vallas.png" , style: "margin-bottom:10px;"%>
        
        <%= flash_messages %>
        
        <%= simple_vertical_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, :required => false, :autofocus => true, 
              :placeholder => "Ingrese su correo electrónico",
              :input_html => {:class => "input-block-level"} %>
            <%= f.input :password, :required => false, 
              :placeholder => "Ingrese su contraseña",
              :input_html => {:class => "input-block-level"} %>
            
            <div class="separator bottom"></div>
            
						<div class="row-fluid">
							<div class="span8">
								<div class="uniformjs">
                  <%= f.input :remember_me, :as => :boolean, :wrapper => :inline_checkbox if devise_mapping.rememberable? %>
                </div>
							</div>
							<div class="span4 center">
                <%= f.button :submit, "Iniciar sesión", class: "btn btn-block btn-primary" %>
							</div>
						</div>
          </div>

        <% end %>
      </div>
      
      <div class="widget-footer">
        <div class="login-footer-links">
          <%= link_to "¿Olvidó su contraseña?", new_password_path(resource_name), class: "pull-right" if devise_mapping.recoverable? %>
        </div>
  		</div>

      <%= javascript_tag "$(document).ready(function(){
        if('#{resource_name}' == 'administrador'){
          $('body.login').css('background-color','#DAD4D4')
        }
      })"  %>
    </div>
    <div style="font-size:9px;">
    <p style="margin: 0 0 0px;">Desarrollado por <a href="http://w2t.net/" target="_blank">W2T</a></p>
    <p style="margin: 0 0 0px;">Copyleft 2016</p>
    </div>

      
  </div>
</div>
