- roles = []
- for rol in Administrador::ROLES
  - roles << rol.gsub(",","")
= f.select :rol, roles, input_html: {id: "user_rol_field", style: 'width-select', :name => "user_rol_field" }, label: "Rol"

