<h1>Listing specificationes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @specificationes.each do |specification| %>
      <tr>
        <td><%= specification.name %></td>
        <td><%= link_to 'Show', specification %></td>
        <td><%= link_to 'Edit', edit_specification_path(specification) %></td>
        <td><%= link_to 'Destroy', specification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specification', new_specification_path %>
