<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specification.name %>
</p>

<%= link_to 'Edit', edit_specification_path(@specification) %> |
<%= link_to 'Back', specificationes_path %>
