-(current_user.is?(:costo) && f.object.status == 'elaborated' )?  valor= false :
-(current_user.is?(:costo) && (f.object.status == 'sent_to_production' || f.object.status == 'sent_to_store') )? valor = true :
-(current_user.is?(:produccion) || current_user.is?(:almacen))? valor = true : ''


%div.span12   
  %div.row-fluid.order_product
    .span6   
      = f.input :number, required: true, readonly: true, class: 'span10',  label: "Orden de Producción"  
      = f.input :production_order_id, as: :hidden
    .span6           
      = f.input :materials_list_status, readonly: true, class: 'span10', label: "Estatus"
  %div.row-fluid      
    .span6
      = f.input :adviser, :as => :string, input_html: { readonly: true, class: 'span10'}, label: "Asesor"   
  %div.row-fluid
    .span12
      = f.input :product_description, :as => :text, input_html: { class: 'width-order-large',  readonly: valor }, label: "Descripcion"          
  %hr  
  %div.row-fluid
    .span6      
      = f.input :create_at,   input_html: { readonly: true, class: 'span10', value: "#{Time.zone.now.strftime '%d/%m/%Y %I:%M %p'}"}, label: "Fecha Elaboración"
    .span6
      = f.input :date_delivery, required: true, :as => :date_picker, input_html: { class: 'span12', value: "#{Time.zone.now.strftime '%d/%m/%Y'}", readonly: valor }, label: "F. de Entrega"
  %div.row-fluid    
    .span6
      = f.input :cc, required: true, input_html: {maxlength: 100, class: 'width-order', readonly: valor }, label: "CC"       
  %div.row-fluid    
    .span12
      = f.input :denomination, :as => :text, input_html: { class: 'width-order-large', readonly: valor }, label: "Denominación"  
  %div.row-fluid
    .span6
      = f.input :size_comp, required: true, input_html: {maxlength: 100, class: 'width-order', readonly: valor }, label: "Tamaño"  
    .span6
      = f.input :fototelones_value, required: true, input_html: {maxlength: 100, class: 'width-order', readonly: valor }, label: "Valor Fototelones"       
  %hr  
  %div.row-fluid
    .span4
      = f.input :quantity, required: true, :as => :numeric,  input_html: {maxlength: 100, class: 'width-order', readonly: valor }, label: "Cantidad"  
    .span4
      = f.input :length_comp, required: true, input_html: {maxlength: 100, class: 'width-order', readonly: valor }, label: "Longitud"   
    .span4
      = f.input :width_comp, required: true, input_html: {maxlength: 100, class: 'width-order', readonly: valor }, label: "Ancho"   
  %hr 
  %div.row-fluid
    .span12
      = f.input :prepared_by, required: true, :as => :string,  input_html: {maxlength: 100, class: 'width-order-large', readonly: valor }, label: "Preparado Por"  
  
  %hr  