%div.span12
  %div.widget-body
    %h3="Materiales"
    %hr
    -if (current_user.is?(:costo) && f.object.status == 'elaborated' )
      %div.row-fluid 
        .span12#detail-material                      
          = f.input :search_material, required: true, :as => :text, input_html: { id: 'material', class: 'width-order-large'}, label: "Material"
      %div.row-fluid         
        .span6
          = f.input :add_quantity, required: true, :as => :numeric, input_html: { id: 'quantity_material', maxlength: 255, class: 'quantity_material'}, label: "Cantidad"  
        .span6     
          = f.label  :"Unidad  .", :title, "Unidad  .", :class => "space-label-rigth"   
          = f.select :add_unit,  options_for_select([["Seleccione Unidad",""],["UNID", "UNID"],["KG", "KG"],["GL", "GL"],["UD", "UD"],["MTS", "MTS"]]), input_html: {id: "method_payment", class: 'span10 width-select' }   
      %hr
      %div.row-fluid 
        .span12 
          = f.input :add_description, :as => :text, input_html: { id: 'description', class: 'width-order-large'}, label: "Descripcion"               
      %div.row-fluid 
        .span12                   
          = f.input :add_observation, :as => :text, input_html: { id: 'observation', class: 'width-order-large'}, label: "Observaciones"
      %div.row-fluid 
        .span10
          = f.input :add_reference, :as => :string, input_html: { id: 'reference', class: 'width-order-large'}, label: "Referencia"
        .links
          = button_tag(class: 'btn btn-icon glyphicons circle_plus btn-success add-item-materiales'){content_tag('i') + "Agregar"}         
    %hr        
    %div.tab-content
      %div.list
        %div.well 
          %h3="Detalle del Materiales" 
          %hr 
          %table.table.table-condensed.table-striped#tabla          
            %thead
              %tr
                %th.span2="Cantidad"  
                %th.span2="Unidad"
                %th="Material"                                  
                %th="Descripcion"
                %th="Observacion"
                %th="Referencia"
            %tbody
              %tr
                %td='' 
                %td=''                                      
                %td=''  
                %td=''   
                %td=''                                      
                %td=''                
              - @materials_list.materiales_details.each_with_index do |m, i| 
                %tr{:id => i} 
                  -(current_user.is?(:costo) && f.object.status == 'elaborated' )?  valor= false :
                  -(current_user.is?(:costo) && (f.object.status == 'sent_to_production' || f.object.status == 'sent_to_store') )? valor = true :
                  -(current_user.is?(:produccion) || current_user.is?(:almacen))? valor = true : ''

                  -(current_user.is?(:costo) && f.object.status == 'elaborated' )?  valor_1= false :
                  -(current_user.is?(:costo) && (f.object.status == 'sent_to_production' || f.object.status == 'sent_to_store') )? valor_1 = true :
                  -(current_user.is?(:produccion) && f.object.status == 'sent_to_production')? valor_1 = false : 
                  -(current_user.is?(:produccion) && f.object.status == 'sent_to_store')? valor_1 = true : 
                  -(current_user.is?(:produccion) && f.object.status == 'elaborated')? valor_1 = true : 
                  -(current_user.is?(:almacen) && f.object.status == 'sent_to_store')? valor_1 = false : 
                  -(current_user.is?(:almacen) && f.object.status == 'elaborated')? valor_1 = true : 
                  -(current_user.is?(:almacen) && f.object.status == 'sent_to_production')? valor_1 = true : ''
                  %td
                    = f.input :quantity, input_html: {id:"materials_list_materiales_details_attributes_#{i}_quantity", name:"materials_list[materiales_details_attributes][#{i}][quantity]", value:"#{m.quantity}",  readonly: valor}, label:false  
                    = f.input :id, input_html: {id:"materials_list_materiales_details_attributes_#{i}_id", name:"materials_list[materiales_details_attributes][#{i}][id]", value:"#{m.id}", type: 'hidden'}, label:false                    
                  %td                   
                    //= f.select :materials_unit, options_for_select([["#{m.materials_unit}","#{m.materials_unit}"],["UNID", "UNID"],["KG", "KG"],["GL", "GL"],["UD", "UD"],["MTS", "MTS"]]),  readonly: valor
                    = f.input :materials_unit, input_html: {id:"materials_list_materiales_details_attributes_#{i}_materials_unit", name:"materials_list[materiales_details_attributes][#{i}][materials_unit]", value:"#{m.materials_unit}",  readonly: valor}, label:false  
                  %td
                    = f.input :materials_name, :as => :text, input_html: {id:"materials_list_materiales_details_attributes_#{i}_materials_name", name:"materials_list[materiales_details_attributes][#{i}][materials_name]", value:"#{m.materials_name}",  class: 'width-order-large',  readonly: valor }, label:false 
                  %td 
                    =f.input :description, :as => :text, input_html: {id:"materials_list_materiales_details_attributes_#{i}_description", name:"materials_list[materiales_details_attributes][#{i}][description]", value:"#{m.description}", class: 'width-order-large', readonly: valor }, label:false                    
                  %td
                    =f.input :observation, :as => :text, input_html: {id:"materials_list_materiales_details_attributes_#{i}_observation", name:"materials_list[materiales_details_attributes][#{i}][observation]", value:"#{m.observation}", class: 'width-order-large', readonly: valor_1 }, label:false                       
                  %td                               
                    =f.input :materials_reference, :as => :text, input_html: {id:"materials_list_materiales_details_attributes_#{i}_materials_reference", name:"materials_list[materiales_details_attributes][#{i}][materials_reference]", value:"#{m.materials_reference}", class: 'width-order-large' , readonly: valor}, label:false         
                  -if current_user.rol == 'costo'  && f.object.status == 'elaborated'
                    %td= link_to ("x"){ content_tag(:i, '', class:"icon-remove") }     


             


                                                          

                           

                   

            

             