%div.span12
  %div.innerLR
    %div.widget
      %div.widget-head
        %h4.heading.glyphicons.settings
          %i
          Detalle
      %div.widget-body
        %h3="Detalle del Listado"
        %hr
        %div.row-fluid 
          .span12#detail-material                      
            = f.input :search_material, required: true, :as => :text, input_html: { id: 'material', class: 'width-order-large'}, label: "Material"
        %div.row-fluid         
          .span6
            = f.input :add_quantity, required: true, :as => :numeric, input_html: { id: 'quantity_material', maxlength: 255, class: 'quantity_material'}, label: "Cantidad"  
          .span6     
            = f.label  :"Unidad  .", :title, "Unidad  .", :class => "space-label-rigth"   
            = f.select :add_unit,  options_for_select([["Seleccione Unidad",""],["UNID", "UNID"],["KG", "KG"],["GL", "GL"],["UD", "UD"],["MTS", "MTS"]]), input_html: {id: "method_payment", class: 'span10 width-select' }   
        %hr
        %div.row-fluid 
          .span12           
            = f.input :add_description, :as => :text, input_html: { id: 'description', class: 'width-order-large'}, label: "Descripcion"               
        %div.row-fluid 
          .span12                   
            = f.input :add_observation, :as => :text, input_html: { id: 'observation', class: 'width-order-large'}, label: "Observaciones"
        %div.row-fluid 
          .span10
            = f.input :add_reference, :as => :string, input_html: { id: 'reference', class: 'width-order-large'}, label: "Referencia"
          .links
            = button_tag(class: 'btn btn-icon glyphicons circle_plus btn-success add-item-materiales'){content_tag('i') + "Agregar"}         
        %hr         
        %div.tab-content
          %div.list
            %div.well 
              %h3="Detalle del Materiales" 
              %hr 
              %table.table.table-condensed.table-striped#tabla
                %thead
                  %tr
                    %th="Material"                                  
                    %th="Cantidad"  
                    %th="Unidad"
                    %th="Descripcion"
                    %th="Observacion"
                    %th="Referencia"
                %tbody
                  %tr
                    %td=''   
                    %td=''                                      
                    %td=''  