%div.span12
  %div.row-fluid
    .span6
      = f.label  :"Cliente", :title, "Cliente  .", :class => "space-label-rigth"
      = f.select :client, @clients.map{ |c| [c.name, c.id] }, :class =>  'span10 field-select' 
    .span6
      = f.input :client_nit,  input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.client.present? ? f.object.client.try(:nit) : "" }, label: "RUT/NIT"      
  %hr.order_product 
  %div.row-fluid.order_product
    .span6
      = f.label  :"Orden de Producción", :title, "Orden de Produccion  .", :class => "space-label-rigth"
      = f.select :production_order_id, {}, input_html: { class: 'span12 field-select' }     
    .span6
      = f.input :adviser_name, :as => :string, input_html: { readonly: true, class: 'span10'}, label: "Asesor"  
  %div.row-fluid
    .span12
      = f.input :product_description, :as => :text, input_html: { class: 'width-order-large'}, label: "Descripción"          
  %hr 
  %div.row-fluid 
    .span6      
      = f.input :fecha,   input_html: { readonly: true, class: 'span10', value: "#{Time.zone.now.strftime '%d/%m/%Y'}"}, label: "Fecha Elaboración"      
  %div.row-fluid
    .span6
      = f.input :date_delivery, required: true, :as => :date_picker, input_html: { class: 'span12', value: "#{Time.zone.now.strftime '%d/%m/%Y'}"}, label: "F. de Entrega"  
    .span6
      = f.input :cc, required: true, input_html: {maxlength: 100, class: 'width-order'}, label: "CC"       
  %div.row-fluid    
    .span12
      = f.input :denomination, :as => :text, input_html: {  class: 'width-order-large'}, label: "Denominación"  
  %div.row-fluid
    .span6
      = f.input :size_comp, required: true, input_html: {maxlength: 100, class: 'width-order'}, label: "Tamaño"  
    .span6
      = f.input :fototelones_value, required: true, input_html: {maxlength: 100, class: 'width-order'}, label: "Valor Fototelones"       
  %hr  
  %div.row-fluid
    .span4
      = f.input :quantity, required: true, input_html: {maxlength: 100, class: 'width-order'}, label: "Cantidad"  
    .span4
      = f.input :length_comp, required: true, input_html: {maxlength: 100, class: 'width-order'}, label: "Longitud"   
    .span4
      = f.input :width_comp, required: true, input_html: {maxlength: 100, class: 'width-order'}, label: "Ancho"   
  %hr 
  %div.row-fluid
    .span12
      = f.input :prepared_by, required: true, :as => :string,  input_html: {maxlength: 100, class: 'width-order-large'}, label: "Asesor"  
  
  %hr  