- if @materials_lists.any?
  %table.table.table-condensed.table-striped#tablemateriales
    %thead
      %tr 
        %th="N# Hoja de calculo"  
        %th="N# de cotizacion"   
        %th="N# orden de produccion"        
        %th="Cliente/agencia"
        %th="Fecha"
        %th="Asesor"
        %th="Fecha de Entrega"
        %th="Estatus"      
    %tbody
      - @materials_lists.each do |p|
        %tr    
          %td= p.id.to_s.rjust(6, '0')  
          %td= p.quotes_id.to_s.rjust(6, '0') 
          %td= p.number.to_s.rjust(6, '0')        
          %td= p.name    
          %td= "#{p.created_at.strftime '%d/%m/%Y'}"
          %td= p.prepared_by   
          %td= p.date_delivery       
          %td= p.materials_list_status
          %td  
            = link_to(materials_list_path(p), title: 'Ver'){ content_tag(:i, '', class:"icon-eye-open") }    
            -if current_user.is?(:costo) &&  p.elaborated?
              = link_to(edit_materials_list_path(p), title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }                             
            -if current_user.is?(:costo) &&  p.elaborated?
              = link_to(materials_list_path(p), method: :delete, title: 'Eliminar', data: {confirm: '¿Desea eliminar la Hoja de Calculo?'}){ content_tag(:i, '', class:"icon-remove") }
            = link_to(image_tag("pdf-icon.png"), quotes_path(p, format: :pdf))
 