%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(materials_lists_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        -if current_user.is?(:costo)
          %li.icon.new_collection_link.active
            = link_to(new_materials_list_path){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3="Editar Hoja de Calculo"
      %hr
      %div.tab-content

        = simple_form_for(@materials_list) do |f|
          = f.error_notification 
          = flash_messages

          %div.row-fluid
            %div.span11
              %div.row-fluid        
                = render 'form_fields_edit', :f => f                                
                = render 'form_fields_detail_edit', :f => f                                       
               
          %br
          -if current_user.is?(:costo) 
            -if @materials_list.elaborated?
              = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok guardar-materials-lists') do
                - content_tag(:i, '') + "Guardar"
          -if current_user.is?(:produccion) 
            -if @materials_list.sent_to_production? 
              = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok guardar-quote') do
                - content_tag(:i, '') + "Guardar" 
          -if current_user.is?(:almacen)
            -if @materials_list.sent_to_store?
              = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok guardar-quote') do
                - content_tag(:i, '') + "Guardar"                                
          -if current_user.is?(:costo)                
            -if @materials_list.elaborated?
              = link_to(sent_to_production_materials_list_path(@materials_list), data: {confirm: '¿Desea enviar la Lista de Materiales a Produccion?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
                - content_tag(:i, '') + "Enviar a Produccion"       
            -if @materials_list.sent_to_production?
              = link_to(sent_to_store_materials_list_path(@materials_list), data: {confirm: '¿Desea enviar la Lista de Materiales Almacen?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
                - content_tag(:i, '') + "Enviar a Almacen"                          
          = link_to(materials_lists_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Ir a Lista"

   
:javascript

$( document ).ready(function() {
$(function() {
  //alert('algo');
          if($('#materials_list_production_order_id').val()) {
          $.get('/production_orders/'+$('#materials_list_production_order_id').val()+'/details.json',
            function(data) { 
             $('#materials_list_adviser').val(data.adviser_name);                              
            });               
        };
});
});

  $(document).on('ready page:load', function () {

    $(function() {   
      var cadena = '[';
      $.get('/materiales.json',
        function(data) { 
          $.each(data, function(key,element) { 
          var material_id = element.url.split('/');
              material_id = material_id[4].split('.json');                                   
            cadena = cadena + '{"label":"'+element.description+'","id":'+material_id[0]+'},';
          });
          cadena = cadena + '{}]';    
          parsedTest = JSON.parse(cadena); 
          $( "#material" ).autocomplete({
            source: parsedTest
        });       
      });
    });
 
      /*fin del document*/      
  });
