%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(materials_lists_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        -if current_user.is?(:costo)  
          %li.icon.new_collection_link 
            = link_to(new_materials_list_path){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3
        = t('layouts.shared.sidebar_administrador.material_list')
      %hr
      %div.tab-content
        %div.list
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filter'
          = flash_messages
          = render 'list'                  
      .clearfix.total-count= pluralize(@materials_lists.size, 'orden')


    


:javascript
  $(document).ready(function() {
    $('#tablemateriales').DataTable({
        "ordering": false,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No hay registros encontrados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros activos",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sSearch":        "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":    "Último",
              "sNext":    "Siguiente",
              "sPrevious": "Anterior"
            }
        }
    });
    $("#search_number, #search_client, #search_adviser, #search_agency").select2({
      allowClear: true
    });
  });
