%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(materials_lists_path){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        -if current_user.is?(:costo)  
          %li.icon.new_collection_link.active
            = link_to(new_materials_list_path){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %h3
        = t('layouts.shared.sidebar_administrador.register_material_list')
      %hr
      %div.tab-content

        = simple_form_for(@materials_list) do |f|
          = f.error_notification 
          = flash_messages

          %div.row-fluid
            %div.span11
              %div.row-fluid        
                = render 'form_fields', :f => f                                
                = render 'form_fields_detail', :f => f                                       
               
          %br
          = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok guardar-materials-lists') do
            - content_tag(:i, '') + "Guardar"
          = link_to(agencies_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"
