%div.span12
  %div.row-fluid
    .span6
      = f.input :application_date, required: true, :as => :date_picker, input_html: { class: 'span12 ', value: f.object.application_date.present?? f.object.application_date : "#{Time.zone.now.strftime '%d/%m/%Y'}"}, label: "F. Solicitud"  
    .span6
      = f.input :execution_date, refquired: true, :as => :date_picker, input_html: { class: 'span12', value: f.object.execution_date.present?? f.object.execution_date : "#{Time.zone.now.strftime '%d/%m/%Y'}"}, label: "F. de Ejecución"
  %div.row-fluid  
    .span6  
      - if f.object.production_order.present?
        = f.input :production_order_number, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.production_order.present? ? f.object.production_order.number :  ""}, label: "Orden de Producción"
        = f.input :production_order_id, as: :hidden, input_html: {maxlength: 255, class: 'span10', readonly: true}
      - else
        = f.association :production_order, collection: @production_orders.map{ |c| [c.number, c.id] }, input_html: { id: "work_order_production_order_id",class: 'span10 field-select'}, label: "Orden de Producción"
    .span6
      = f.input :cost_center, as: :string, input_html: {maxlength: 255, class: 'span10'}, label: "Centro de costo"
  %hr
  %div.row-fluid    
    .span6
      = f.input :client_name, as: :string, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.production_order.present? ? f.object.production_order.quote.client.name :  ""}, label: "Cliente/Agencia"
    .span6 
      = f.input :reference, as: :string, required: false, input_html: {maxlength: 255, class: 'span10', readonly: true, value: f.object.production_order.present? ? f.object.production_order.quote.reference :  ""}, label: "Referencia"
  %hr
  %div.row-fluid
    .span6
      = f.label  :contratista, :title, "Contratista  .", :class => "space-label-rigth"
      = f.select :contractor, options_for_select([["Externo", "externo"], ["Interno", "interno"], ["Empleado", "empleado"]]), input_html: {id: "contractor", class: 'span10 width-select'}, selected: f.object.contractor, label: "Contratista"
    .span6
      = f.input :name, as: :string, input_html: {maxlength: 255, class: 'span10'}, label: "Nombre"
  %div.row-fluid    
    .span12
      = f.input :overcost, required: false, :as => :text, input_html: {maxlength: 255, row:20, class: 'width-order-large'}, label: "Sobrecostos" 
  %div.row-fluid    
    .span12
      = f.input :address, required: false, :as => :text, input_html: {maxlength: 255, row:20, class: 'width-order-large'}, label: "Dirección" 
  .clearfix
  %hr
  .innerLR
    .widget{:'data-toggle'=>"collapse-widget"}
      .widget-head
        %h4.heading.glyphicons.edit
          %i
          = "Detalle"
      .widget-body
        %h3="Descripción"
        %hr
        %div.tab-content
          %div.well  
            = render 'work_order_detail', :f => f
%hr
= render 'work_order_comment', :f => f
                
            
    

