-if true# if @work_orders.any?
  %table.table.table-condensed.table-striped#tableorders
    %thead
      %tr
        %th="Número de Orden"  
        %th="Número de Cotización"  
        %th="Número de Orden de Producción"  
        %th="Cliente/Agencia"
        %th="Fecha de Solicitud"
        %th="Fecha de Ejecución"
        %th="Estatus"
        %th=""
        %th=""
    %tbody
      - @work_orders.each do |w|
        %tr
          %td= w.try(:id)
          %td= w.production_order.try(:quote).try(:number)
          %td= w.production_order.try(:number)
          %td= w.production_order.try(:quote).try(:client).try(:name)
          %td= w.try(:application_date)
          %td= w.try(:execution_date)
          %td
            %span.label.label-success= w.order_status
          %td
            = render 'status_changes', :wo => w
          %td
            -if w.elaborated?
              = link_to(content_tag(:span, "", :class => "icon-pencil"), edit_work_order_path(w))
            = link_to(work_order_path(w), method: :delete, class: 'pjax', title: 'Eliminar', data: {confirm: '¿Desea eliminar la orden?'}){ content_tag(:i, '', class:"icon-remove") }
            = link_to(image_tag("pdf-icon.png"), work_order_path(w, format: :pdf), target: "_blank")
