-if wo.elaborated? && can?(:deliver, wo)
  = link_to(deliver_work_order_path(wo), data: {confirm: '¿Desea entregar?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
    - content_tag(:i, '') + "Entregar Orden"
-if wo.delivered? && can?(:validate, wo)
  = link_to(validate_work_order_path(wo), data: {confirm: '¿Desea validar?'}, class: 'btn btn-icon btn-primary glyphicons circle_ok') do
    - content_tag(:i, '') + "Validar Orden"
