.nested-fields.well  
  .row-fluid
    .span11
      .span12
        = f.input :product_id, collection: Product.all, label_method: :name, value_method: :id, :label => 'Producto', prompt: "Producto", input_html: { class: 'width-order-large-nested', :id => 'product_id' }
  .row-fluid
    .span11
      .span12
        = f.input :description, as: :text, :label => 'Descripción', prompt: "Descripción", input_html: { class: 'width-description-large-nested', :id => 'description', :row => 2 }  
  .row-fluid
    .span11  
      .span6
        = f.input :quantity, :label => 'Cantidad', prompt: "Cantidad", input_html: { class: 'span10', :id => 'quantity', type: 'text' }  
      .span6
        = f.input :price, :label => 'Precio', prompt: "Precio", input_html: { class: 'span10', :id => 'price', type: 'text' }  
      %br
    .span1
      %br
        = link_to_remove_association "Eliminar", f



