#work_order_details
  = f.simple_fields_for :work_order_details do |o|
    = render 'work_order_detail_fields', :f => o 
  .links
    = link_to_add_association(f, :work_order_details,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Detalle' }
