.nested-fields.well  
  .row-fluid
    .span11
      .span12
        = f.input :comment, as: :text, :label => 'Comentario', prompt: "Comentario", input_html: { class: 'width-description-large-nested', :id => 'comment', :row => 2 } 
        = f.input :administrador_id, as: :hidden, input_html: { value: f.object.administrador_id ? f.object.administrador_id : current_user.id }
      %br
    .span1
      %br
        = link_to_remove_association "Eliminar", f


