%div.span12
  .innerLR
    .widget
      .widget-head
        %h4.heading.glyphicons.settings
          %i
          = "Comentarios"
      .widget-body               
        %div
          .production_order_anexes
            = f.simple_fields_for :work_order_comments do |o|
              = render 'work_order_comment_fields', :f => o 
            .links
              = link_to_add_association(f, :work_order_comments,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Comentario' }
