%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          - if @production_order.present?
            = link_to(work_orders_path(:production_order_id => @production_order), class: 'pjax', id: "botton"){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Listar') }
          - else
            = link_to(work_orders_path, class: 'pjax', id: "botton"){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link.active
          - if @production_order.present?
            = link_to(new_work_order_path(:production_order_id => @production_order), class: 'pjax', id: "botton"){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Editar') }
          - else
            = link_to(new_work_order_path, class: 'pjax', id: "botton"){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Editar') }
    %div.widget-body
      %h3="Editar Orden"
      %hr
      %div.tab-content

        = simple_form_for(@work_order) do |f|
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span12
              %div.row-fluid
                = render 'form_fields', :f => f             
                      
                              
          %br
          - if can? :update, @work_order
            - if ((current_user.is?(:costo) && (@work_order.elaborated? || @work_order.delivered?)) || (current_user.is?(:produccion) && @work_order.validated?))
              = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
                - content_tag(:i, '') + "Guardar"
          = render 'status_changes', :wo => @work_order
          = link_to(work_orders_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"

:javascript
  $(document).ready(function() {
    $(".field-select").select2({
      placeholder: "Seleccione",
      allowClear: true
    });
  });

  $('#work_order_production_order_id').change(function(){ 
      if($(this).val())         {  
        $.get('/production_orders/'+$(this).val()+'/details.json',
          function(data) {                                       
            $("#work_order_agency_name").val(data.agency_name);                               
            $("#work_order_client_name").val(data.client_name);                               
            $("#work_order_phone_client").val(data.client_phone);
            $("#work_order_adviser_name").val(data.adviser_name);
            $("#work_order_comission").val(data.quote_commission);
            $("#work_order_nit_client").val(data.client_nit);
            $("#work_order_address_client").val(data.client_address);
            $("#work_order_reference").val(data.quote_reference);
          });
        }
  });
