%h3 Orden de Trabajo
.innerLR.shop-client-products.cart.invoice
  %table.table.table-invoice
    %tbody
      %tr
        %td{:style => "width: 58%;"}
          .media
            %img.media-object.pull-left{:alt => "Logo", :src => "/assets/logo_vallas_corto_pequeno.png"}/
            .media-body.hidden-print
              .alert.alert-primary
                %strong Estatus de la Orden de Trabajo:
                %br/
                = @work_order.order_status
              .separator.bottom
        %td.right
          .innerL
            %h4
              Fecha de Solicitud: #{@work_order.try(:application_date).strftime("%d-%m-%Y")} 
              %br/
              Fecha de Ejecución: #{@work_order.try(:execution_date).strftime("%d-%m-%Y")} 
              %br/
              No. de Orden de Producción: #  #{@work_order.production_order.try(:id).to_s.rjust(6, '0')} 
              %br/
              Centro de Costo: #  #{@work_order.try(:cost_center)} 
  .separator.bottom
  .well.margin-none
    %table.table.table-invoice
      %tbody
        %tr
          %td{:style => "width: 50%;"}
            %p.lead Información de Cliente/Agencia
            %h2
              = @work_order.production_order.quote.try(:client).try(:name)
              \.
            %address.margin-none
              %strong
                Comision : #{@work_order.production_order.quote.try(:commission_quote)} %
              %br/
              = @work_order.production_order.quote.try(:client).try(:address)
              %br/
              %abbr{:title => "Work email"} e-mail:
              = @work_order.production_order.quote.try(:client).try(:email)
              %br/
              %abbr{:title => "Work Phone"} Telefono:
              = @work_order.production_order.quote.try(:client).try(:phone)
              %br/
              %abbr{:title => "Work Contract"} Contratista:
              = @work_order.try(:contractor)
              %br/
              %br/
              %abbr{:title => "Work Contract"} Firma:
              = "_____________________________________"
              %br/
  - if @work_order.work_order_details.any?            
    .separator.bottom
    %table.table.table-bordered.table-primary.table-striped.table-vertical-center
      %thead
        %tr
          %th="Producto"  
          %th="Descripcion"  
          %th="Cantidad"
          %th="Precio"
      %tbody
        = @work_order.work_order_details.each do |wo|
          %tr
            %td
              = wo.product.try(:name)
            %td
              = wo.try(:description)
            %td.right
              = wo.quantity    
            %td.right
              = number_to_currency(wo.try(:price), unit:'')
  .separator.bottom
  .well.margin-none
    %table.table.table-invoice
      %tbody
        %tr
          %td{:style => "width: 50%;"}
            %p.lead Dirección
            %address.margin-none
              = @work_order.try(:address)
            %br/
            %p.lead Sobrecostos
            %address.margin-none
              = @work_order.try(:overcost)
            %br/
  .separator.bottom
  .well.margin-none
    %table.table.table-invoice
      %tbody
        %tr
          %h2
            = "Validación del Proceso - Firma Coordinador / Jefe de Producción"
            \.
          %td{:style => "width: 50%;"}
            %br/
            %p.lead Metalmecánica: ____________________
            %br/
            %p.lead Pintura: ___________________________
            %br/
          %td.right
            %p.lead 
            %br/
            %p.lead Instalación: ____________________
            %br/
            %p.lead Diagramación: ___________________
            %br/
 
 

