/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap/responsive
 *= require bootstrap-datetimepicker
 *= require theme/css/glyphicons
 *= require theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default
 *= require theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart
 *= require theme/css/styles
 *= require_tree .
 *= require_self
 *= require_select2
 //= require_datatable
 */


.filter-bar form a{
  margin: 0 5px 3px 0;
  padding: 1px 5px;
  color: #a7a7a7;
}

.desarrolladores {
  float: right;
}

.form-horizontal .quote_price .controls {
    margin-left: 0 !important;
}

.form-horizontal .table .materials_list_quantity .controls {
    margin-left: 0 !important;
}

.form-horizontal .materials_list_materials_name .controls {
    margin-left: 0 !important;
}

.form-horizontal .materials_list_description .controls {
    margin-left: 0 !important;
}

.form-horizontal .materials_list_observation .controls {
    margin-left: 0 !important;
}

.form-horizontal .materials_list_materials_reference .controls {
    margin-left: 0 !important;
}

.form-horizontal .materials_list_materials_unit .controls {
    margin-left: 0 !important;
}

a:visited {
  color: white; 
}

.innerLR {
  padding: 0 0;
}

.alert-menu {
  white-space: inherit !important;
  display: block !important;
  height: 100% !important;
  line-height: 18px !important;
  padding: 8px 10px !important;
}

li.dropdown > a > span {
    float: inherit !important;
    top: initial !important;
}

.dropdown > a .caret {
    top: 8px;
}

.dataTables_wrapper{
  overflow: auto;
}

.links{
  padding-top: 20px;
  padding-bottom: 10px;
}

.enlace_orden{
  margin-left: 20px !important;
}


span.add-on {
    height: 30px !important;
}