
body.welcome{

  div#resumen{  
    .pie{
      width:33%;
      float:left;
      
    }
  }

  .red .glyphicons i:before { color: #bd362f  }
  .green .glyphicons i:before { color: #8ec657 }
  .brown .glyphicons i:before { color: #ab7a4b }
  .blue .glyphicons i:before { color: rgb(77, 140, 211) }
  .orange .glyphicons i:before { color: #ffb84f }
  

}