// Place all the styles related to the ProductionOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.width-order{
	width: 77.90598% !important;
}

.width-order-large{
	width: 91.90598% !important;
}

.width-search-field{
	width: 131.90598% !important;
}

.left-search-field{
	margin-left: -120px !important;
}
.botton-filter{
	padding-top: 9px;	
}

.margin-left-check{
	margin-left: 83px !important;
}

.width-select-advance{ 
	width: 244px !important; 
}

.radio-inline-selector{
	margin-left: -43px !important;
}

.width-select {
width: 243px !important;
}

.margin-left-anexe{
  margin-left: 146px !important;	
}

#tabla_productos .controls {
  margin-left: 0px;
}

#production_order_binnacle_anexes > div.nested-fields.well > div > div.span11 > div > div > div.file-preview {
	width: 80%;
}