// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.left-search-field{
	margin-left: -120px !important;
}

.width-search-field-quote{
	width: 86.90598% !important;
}

.width-order-large{
	width: 91.90598% !important;
}

.space-label-rigth{
	padding-right: 20px;
}

.width-select{
  width: 242px !important;
}
.width-select-multiple{
  width: 100% !important;
}
.cost{
  margin: 0;
}

.modal-position{
	z-index: -1 !important;
}

.widget-body .row-fluid{
  margin-bottom: 20px;
}

.row-fluid [class*="span"] {
  margin-left: 0;
}

.add_fields{
  float: right;
  margin-top: -20px;
}

.quotes_anexes{
  margin-bottom: 25px;
}

.quotes_anexes label {
  margin-top: 25px;
  font-size: medium;
  margin-right: 10px;
}

.quotes_anexes a {
  margin-left: 55px;
}