// Place all the styles related to the WorkOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.width-order-large-nested{
	width: 93.90598% !important;
}

.width-description-large-nested{
	width: 90.90598% !important;
}


