<p>Estimado <%= @resource.nombre %>,</p>

<p>Alguien ha solicitado instrucciones para reestablcer tu contraseña en
  el Sistema Automatizado para Toma y Seguimiento de Pedidos y Vallas y Avisos.
  Puedes cambiar tu contraseña actual a través del siguiente enlace: </p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no solicitaste estas instrucciones, tranquilamente puedes ignorar este mensaje.</p>
<p>Tu contraseña no será modificada hasta que ingreses al enlace anterior y crees una nueva.</p>

<%= render "firma" %>