<%= simple_form_for(@difficulty_quote) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :quantity %>
    <%= f.input :lapse %>
    <%= f.input :type_lapse %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
