<h1>Listing difficulty_quotes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Lapse</th>
      <th>Type lapse</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @difficulty_quotes.each do |difficulty_quote| %>
      <tr>
        <td><%= difficulty_quote.name %></td>
        <td><%= difficulty_quote.quantity %></td>
        <td><%= difficulty_quote.lapse %></td>
        <td><%= difficulty_quote.type_lapse %></td>
        <td><%= link_to 'Show', difficulty_quote %></td>
        <td><%= link_to 'Edit', edit_difficulty_quote_path(difficulty_quote) %></td>
        <td><%= link_to 'Destroy', difficulty_quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Difficulty quote', new_difficulty_quote_path %>
