<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @difficulty_quote.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @difficulty_quote.quantity %>
</p>

<p>
  <strong>Lapse:</strong>
  <%= @difficulty_quote.lapse %>
</p>

<p>
  <strong>Type lapse:</strong>
  <%= @difficulty_quote.type_lapse %>
</p>

<%= link_to 'Edit', edit_difficulty_quote_path(@difficulty_quote) %> |
<%= link_to 'Back', difficulty_quotes_path %>
