

= label_tag  :"Rol  .", "", :class => "space-label-rigth"
= select_tag :rol, options_for_select(User::ROLES, ["#{@object.try(:rol)}"]), input_html: {id: "user_rol_field", style: 'width-select', :name => "user_rol_field" } 

